[2012-12-03 15:37] markvanaalst opened #1 "Upgrade NewsMover version 1.0 to 2.0"
Newsmover 2.0 provides more configuration for item names based upon datetime

[2013-01-22 22:30] MohrJ opened #2 "Sanitize input prior to storing text in BlogComments"
WeTeam,

You have developed a great product that is easy to add to Sitecore.  I noticed one possible enhancement while implementing WeBlog.  BlogComment items do not sanitize the comment text before storing it, which can cause the sidebar and other items referencing that field to provide content without HTML encoding.  I would be happy to work on this enhancement.

[2013-02-10 14:20] adeneys opened #3 "Monthly calendar control of posts"
Migrated from Trac. Trac ID 3

Create a new blog posts control which is a monthly calendar and shows days on which posts were made. These days show as links and when clicked list the posts for that day.

[2013-02-10 14:21] adeneys opened #4 "Next / previous post navigation control"
Migrated from Trac. Trac ID 4

Create a control to allow navigating between the previous and next blog posts to be used on the blog detail page.

[2013-02-10 14:23] adeneys opened #5 "Paging of comments on blog post"
Migrated from Trac. Trac ID 5

Display comments on a blog post in a pager. Allow setting page size in blog settings.

[2013-02-10 14:26] adeneys opened #6 "Author list control"
Migrated from Trac. Trac ID 7

Create a control for the sidebar which lists all blog authors. Clicking an author link shows all posts from that author.

This should be built in such a way as to work in conjunction with an existing site, which may have it's own author pages already. It should also allow this feature to be used on the site, separate to the blog to allow sites which don't yet have a

[2013-02-10 14:29] adeneys opened #7 "Tag list control"
Migrated from Trac. Trac ID 9

Create tag list control. Just different output from the tag cloud, but use same logic. Show number of posts with each tag. Clicking a tag link shows just the posts with that tag.

Output similar to:

Tag1 (4)
Tag2 (5)

[2013-02-10 15:02] adeneys opened #8 "Specify number of months for archive list"
Migrated from Trac. Trac ID 16

Allow setting number of months to display on the archive list such as from now back to 13 months ago.

This would also require another way of accessing older posts. Through categories may be enough.

[2013-02-10 15:03] adeneys opened #9 "More Themes"
Migrated from Trac. Trac ID 24

Find HTML-proficient designers willing to contribute some themes that could be used out of the box. This would help encourage more use by Sitecore Xpress "hobbyists."

[2013-02-10 15:04] adeneys opened #10 "Blog Search"
Migrated from Trac. Trac ID 25

Provide a means of full-text searching articles, and optionally comments.

[2013-02-10 15:06] adeneys opened #11 "WFM comment form"
Migrated from Trac. Trac ID 40

Use WFM to submit comments on an entry.

*note* this will be redundant once Loquimus is complete and WeBlog uses it.

[2013-02-10 15:07] adeneys opened #12 "Multiple template support"
Migrated from Trac. Trac ID 42

Current manager classes search based on the template IDs defined in config and don't check for derived templates. This needs to be updated to allow using multiple different templates on a single site.

[2013-02-10 15:09] adeneys opened #13 "Fix sc.variables in config"
Migrated from Trac. Trac ID 56

The Captcha text doesn't get translated|The text "Please confirm you are human by typing the text you see in this image:" doesn't get translated when you swithc to another languages.

In Japanese it should be 上の画像に表示されている文字をフォームに入力してください:

[2013-02-10 15:10] adeneys opened #14 "Comment formatting options"
Migrated from Trac. Trac ID 57

Add support for BBCodes in comment text http://en.wikipedia.org/wiki/BBCode

Add support for markdown in comment text

[2013-02-10 15:11] adeneys opened #15 "Add video support for blog entries"
Migrated from Trac. Trac ID 60

Add support for embedding videos in posts.

Ensure authors can use the Live Writer video features to upload and embed videos in entries.

[2013-02-10 15:11] adeneys opened #16 "Support publishing of tags for MetaWeblogAPI"
Migrated from Trac. Trac ID 62

Allow tags to be published from live writer through the MetaWeblogAPI

[2013-02-10 15:12] adeneys opened #17 "CurrentEntry property of BaseEntrySublayout uses Sitecore context"
Migrated from Trac. Trac ID 63

The CurrentEntry property of the BaseEntrySublayout class uses the Sitecore context item. This may mean the base class can only be used on sublayouts used when the context item is an EntryItem. It would be preferable to be able to use this class for any sublayout displaying an EntryItem, including those used in the PostListEntry sublayout.

[2013-02-10 15:13] adeneys opened #18 "Allow defining author and publish fields"
Migrated from Trac. Trac ID 64

As per SDN forum post http://sdn.sitecore.net/forum/ShowPost.aspx?PostID=46370#46370 allow defining in configuration which fields should be used for the author and which field for the publish date as implementations may want to define separably from the item the author and the date the entry was published.

[2013-02-10 15:28] adeneys opened #19 "Indexing / caching race condition"
In a multi-server setup with caching enabled on WeBlog sublayouts, it is quite likely the presentation of the sublayout will be generated and cached before content is indexed, which means the content doesn't show up until the next cache clear.

Refer http://sitecoreblog.alexshyba.com/2012/07/sync-up-sitecore-search-index-update.html

See if we can work out some way of clearing the sublayout from t

[2013-02-10 15:39] adeneys opened #20 "Archive control skipping months"
Bug reported on SDN forums: http://sdn.sitecore.net/forum//ShowPost.aspx?PostID=50566

Sadly, Christmas never comes if you iterate from month 0 to month 11 so we need to fix the GetMonths method so December is shown in the Archive months list!

[2013-02-10 15:43] adeneys opened #21 "Make controls robust"
Ensure controls that traverse the content tree looking for the blog root item don't crash if they don't find one. Some controls to check out initially (from http://sdn.sitecore.net/forum//ShowPost.aspx?PostID=49101):

<wb:Syndication runat="server" Cacheable="true" VaryByData="true" />
<wb:RsdIncludes runat="server" Cacheable="true" VaryByData="true" />

If the blog root item cannot be found, log

[2013-02-10 15:47] adeneys opened #22 "Remote item event args issue"
Ensure the event args type in event handlers are correct. Bug logged on SDN forum: http://sdn.sitecore.net/forum//ShowPost.aspx?PostID=49263

[2013-02-10 15:50] adeneys opened #23 "Comments in correct language"
Ensure when a comment is submitted it is created in the language the user is currently using. Comments should be language specific.

[2013-02-10 16:01] adeneys opened #24 "Sort posts by field"
Allow sorting the post list by a specified field. This would also be required to allow specifying a separate field for blog post date.

[2013-02-10 16:08] adeneys opened #25 "Ensure manager methods handle language properly"
Referring to SDN forum post http://sdn.sitecore.net/forum//ShowPost.aspx?PostID=44365

Make sure the manager class methods return items in the appropriate language only

[2013-02-13 18:06] #21 closed, assigned to adeneys

[2013-02-26 19:21] techphoria414 opened #26 "Ensure comment item names are unique"
... and potentially allow the comment item name to be configurable. See SDN post:

http://sdn.sitecore.net/SDN5/Forum/ShowPost.aspx?PostID=52019

[2013-02-26 19:23] techphoria414 opened #27 "Create release for Sitecore 6.6"
Including compiling against the latest Lucene.

[2013-02-26 19:24] techphoria414 opened #28 "Archive control excludes December"
Oops. See SDN post:

http://sdn.sitecore.net/SDN5/Forum/ShowPost.aspx?PostID=50566

[2013-02-26 19:26] techphoria414 opened #29 "Mobile support"
Add responsive CSS to techphoria theme, and/or mobile device layer as needed.

http://sdn.sitecore.net/SDN5/Forum/ShowPost.aspx?PostID=50557

[2013-02-26 19:31] techphoria414 opened #30 "Multiple versions bug"
We have noticed an issue here at HDC where if a post has multiple versions (i.e. it's workflowed), the blog will display posts multiple times in preview and page editor. For web DB, this isn't an issue since there is only one version.

[2013-02-27 11:37] #28 closed, assigned to nobody

[2013-03-04 11:28] #20 closed, assigned to adeneys

[2013-03-06 02:51] techphoria414 opened #31 "Add Disqus Support"
Another option for comments that's easily implemented. Nice interim solution for some until Loquimus is ready.

[2013-03-06 03:28] #30 closed, assigned to techphoria414

[2013-03-06 04:49] #22 closed, assigned to techphoria414

[2013-03-06 05:27] #19 closed, assigned to techphoria414

[2013-03-27 12:28] adeneys opened #32 "Database name with non-alpha characters"
Ensure the indexes work when the DB being used contains non-alpha characters such as _ and -.

Refer SDN forum post http://sdn.sitecore.net/forum/ShowPost.aspx?PostID=52939

[2013-04-03 23:09] techphoria414 opened #33 "Wordpress Import: Won't allow XML Upload"
When attempting to upload a Wordpress XML file, Sitecore dialog presents the error

"[filename]" is not a ZIP file

Workaround is to place the file directly into the $(dataFolder)\packages directory and use "Browse" to choose it instead.

![Screen Shot 2013-04-03 at 6 08 14 PM](https://f.cloud.github.com/assets/1562106/336822/678c7cba-9cb3-11e2-9c5e-5c9d93a394fb.png)

[2013-04-03 23:11] techphoria414 opened #34 "Wordpress Import: Can't choose import location in Chrome"
After choosing an import file and continuing through the wizard, unable to choose an import location.

![Screen Shot 2013-04-03 at 6 11 05 PM](https://f.cloud.github.com/assets/1562106/336837/cab1052c-9cb3-11e2-98ab-c3c91d855d5c.png)

Sitecore 6.5 rev 120706. Might be a Sheer UI issue we can't do anything about. Workaround is to use Firefox.

[2013-04-03 23:48] techphoria414 opened #35 "jQuery.noConflict() in functions.js can break other uses of jQuery"
If our functions.js is included in an existing site with other jQuery that references jQuery via '$', it will break that code due to the first line of our script:

jQuery = jQuery.noConflict();

Workaround is to remove this. I'm not entirely sure that it's necessary, especially on newer versions of Sitecore that are based on jQuery. We may be able to better encapsulate the logic as well: http://bl

[2013-04-03 23:49] techphoria414 opened #36 "Use namespaces to better encapsulate our Javascript"
Our Javascript functions (though minimal) utilize global namespaces. We should better encapsulate these functions.

http://elegantcode.com/2011/01/26/basic-javascript-part-8-namespaces/

[2013-04-16 02:28] #25 closed, assigned to adeneys

[2013-04-16 02:28] #23 closed, assigned to adeneys

[2013-05-06 16:06] pvaartstra opened #37 "Duplicate comments when using the back button on the browser"
If a user posts a comment, navigates away from the page, then attempts to revisit the blog via the browser back button, they will be prompted to refresh the page.  If they do, their comment will be re-submitted.  This is particularly problemmatic if the comments do not go through an approval process.

I would like to avoid this issue without having to utilize a Captcha since I'm experiencing this

[2013-06-02 12:12] #1 closed, assigned to adeneys

[2013-06-03 12:25] #37 closed, assigned to adeneys

[2013-06-03 13:28] #35 closed, assigned to adeneys

[2013-06-03 13:30] #36 closed, assigned to adeneys

[2013-06-05 20:30] orea opened #38 "Blog Entry doesn't show up after publishing"
Hello,

As per the subject, I've checked the database and the content is there, but the blog entry is not displayed on the page or in the Recent Posts or Categories.

It seems to be an issue with the index. After deleting the data/indexes/WeBlog folder I copied the same from our staging environment into our production environment and the blog entry showed up.

I had tried rebuilding the WeBlog Sea

[2013-06-09 11:15] adeneys opened #39 "Create release for Sitecore 7"
Create Sitecore 7 release to make use of Sitecore 7 features such as item buckets for both blog posts and comments.

Sitecore 6.6 and previous must still be supported, so updates for Sitecore 7 features must be done in a way to still allow the current features to operate without the Sitecore 7 features.

[2013-06-20 00:25] adeneys opened #40 "Blog Sublayout template causes issue with Page Editor"
Refer to http://sdn.sitecore.net/forum/ShowPost.aspx?PostID=54717.

The fact we're using a template for some of our controls which is not a Sitecore defined template (blog sublayout vs sublayout) breaks the page editor.

[2013-06-20 00:45] adeneys opened #41 "Sort posts by popularity"
Provide the ability to list posts by popularity. Can leverage the existing Sitecore.Modules.WeBlog.Managers.EntryManager.GetPopularEntriesByView() method as a data source for the post list sublayout.

[2013-06-25 06:26] adeneys opened #42 "Update comment creation code"
The comment creation process currently traverses the content tree lookig for the post item by template. A better way to do this would be to look for the first non-comment and non-folder item in the ancestors. Makes this piece of code more flexible.

[2013-07-23 10:01] YazanHaddadein opened #43 "Commnet Multi Server WCF Error"
The following error appear when submit a comment on the delivery site [CD Server]

Exception:
Type 'System.Collections.CaseInsensitiveHashCodeProvider' with data contract name 'CaseInsensitiveHashCodeProvider:http://schemas.datacontract.org/2004/07/System.Collections' is not expected. Consider using a DataContractResolver or add any types not known statically to the list of known types - for examp

[2013-08-03 15:49] adeneys opened #44 "Move all JavaScript to JS file"
Move all the JavaScript currently written inline on sublayouts to the external JS file.

[2013-08-04 10:09] #40 closed, assigned to nobody

[2013-08-04 10:12] #18 closed, assigned to nobody

[2013-08-04 10:13] #17 closed, assigned to nobody

[2013-08-04 17:23] #32 closed, assigned to nobody

[2013-09-03 12:36] adeneys opened #45 "RSS customisations"
Implement a custom RSS item type to display blog entries as they do on the website (title, summary, author, categories, tags).

[2013-12-04 22:22] ayesham opened #47 "View more broken on category pages."
The view more link on category pages doesn't work in v2.2. Ajax doesn't return anything.

[2014-01-10 22:43] #47 closed, assigned to nobody

[2014-01-13 14:04] dsandsqis opened #48 "Software Developer"

[2014-01-13 14:05] #48 closed, assigned to nobody

[2014-01-13 14:31] dsandsqis opened #49 "Invalid shift value in prefixCoded string (is encoded value really an INT?)"
I receive the following when trying to access a WeBlog item in Sitecore v6.6. I can rebuild the index without incident but rendering an entry or blog listing page produces this error via call to Lucene.
-------

Server Error in '/' Application.

Invalid shift value in prefixCoded string (is encoded value really an INT?)

Description: An unhandled exception occurred during the execution of the curr

[2014-01-24 14:43] mariellamontoni opened #50 "Ability to provide Sub-categories."
Allow Categories to contain subcategories. Each post could belong to a category/subcategory only, or directly to an entire category, so in that case, the post belongs to all sub-categories of that specific category.

[2014-01-24 14:47] mariellamontoni opened #51 "Allow individuals to subscribe to a specific blog."
Individuals could subscribe to a specific blog. It would be interesting if the individual could also choose the categories of the blog he would like to subscribe. So he would get posts regarding only on those categories... This way we could analyze better the interests of the individuals that read the blog.

[2014-02-05 01:09] jhansen81 opened #52 "Adding a comment throws an error when there are dashes in the path"
The duplicate submission code attempts to find a duplicate comment using a fast query.  When the path to the entry is retrieved, if the path has dashes in it, the fast query fails with "End of string expected at position XX".  If you remove the dash from the item names the error goes away.  The dashes just need to be escaped prior to passing the path to the fast query.

[2014-02-16 23:22] adeneys opened #53 "Comment submission filtering by keywords"
Add a new CreateComment processor to allow filtering out comments that contain inappropriate words. Word lists could be stored either as items in the content tree or read from file on disk.

[2014-03-13 19:21] joshuwa opened #54 "Implement a foul language filter on submitted comments"
Allows content administrators to enable a foul language filter. Possibly with workflow?

[2014-04-01 14:08] zdanev opened #55 "trouble syncing the WeBlog toolbar"
Where in sitecore is the toolbar that appears when the blog is in edit mode (add new entry, add category, ...) defined?

I'm having trouble syncing that toolbar between dev machine and QA.

Thanks

[2014-04-02 22:59] #55 closed, assigned to nobody

[2014-04-14 13:11] venkatraman2014 opened #56 "Comments in a Multi-server Environment"
Hi,
I am using we-blog in my project.
I am having following issues in weblog:-
1) I am not able to post comment in the blog on live site.My live site is having 1 CM server and 2 CD server.I made changes in the weblog.config which are mentioned in the "https://github.com/WeTeam/WeBlog/wiki/Multi-Server-Setup".
I am having the below error .
Could not find endpoint element with name 'WeBlogCommentSer

[2014-04-21 19:48] rendermouse opened #58 "Wordpress Import Resets Publish Dates For All Posts"
Every post imported via Wordpress XML has the publish date reset to the date/time of the IMPORT job, losing the original publish date of the post.

[2014-07-22 19:40] er40 opened #60 "Archive only shows entries from 2014"
Not sure where the issues is, but the Archive on the sidebar is only showing 2014 entries. I have tried adding entries from before 2014 as well as 2015 to test, and only 2014 entries are populated.

[2014-09-24 14:49] GBDurrary opened #61 "WeBlog show more posts in post list doesn't display any more content"
Visible at www.healthspan.co.uk/news/categories/healthspan-heroes

The code is supposed to show five more posts and add ?count=15 or whatever to the end of the url. It uses JS to display extra items on the first click, but doesn't change the url, and because it loads data from part of the page, on postback it throws an error (Which I have caught) meaning it only works the first time you click the

[2014-10-21 18:47] dmeadnavarts opened #62 "MVC Support!"
Hi Weblog,

We use WeBlog extensively.  Any plans to support MVC?  I checked Marketplace and no word about it.  We need WeBlog for MVC since we're doing MVC-only for Sitecore now unless we have to.  We care about Sitecore 7.x only, really.  Thanks for this Blog feature for the community!!

[2014-10-27 22:29] sean-nuckolls opened #63 "Needs up-to-date references to new versions of MSCAPTCHA and RECAPTCHA"
If both WeBlog and Sitecore's Web Forms for Marketers 2.5 are installed, there is a conflict. If WFFM is allowed to overwrite the MSCAPTCHA DLL, WeBlog will throw a stack trace on the version. If the older version that ships WeBlog is allowed to stay, WFFM will stack trace.

[2014-10-28 19:09] JenKove opened #64 "Comment form does not accept apostrophes. 6.6 Sitecore"
If I enter a comment with a contraction like "Don't write in contractions if you don't want to see this error"
<p>I've noticed that other sites using this blog software also have the issue. Is there any easy fix to escape the apostrophe and quote characters from a form before posting? Failing that, I'm currently looking for the area where we store error messages and hoping to put one up. </p>
====

[2014-12-05 22:47] fishtayl opened #65 "WeBlog for Sitecore 7.2"
Is WeBlog updated to be compatible with Sitecore 7.2?

[2015-01-13 13:56] ufpian opened #67 "Multiple WeBlog Instances within One Sitecore Instance - Some Blogs Not Showing Posts"
We've been working with WeBlog successfully for a few months until recently, when I noticed that new posts weren't being picked up by some of the blogs.  We have three WeBlog instances attached to three site nodes (among many other sites).  One of these blog instances uses a unique post template, and the other two follow one template.  The two other blogs have trouble accurately refreshing their b

[2015-01-22 10:52] Sindberg commented on #52
The problem is that fast queries need "dashes" "and "or" and a whammy of other stuff escaped. Official documentation here: http://sdn.sitecore.net/upload/sdn5/developer/using%20sitecore%20fast%20query/using%20sitecore%20fast%20query001.pdf

Filtering the Path in DuplicateSubmissionGuard through this method should solve the issue:
[code]

Would have made a pull request, but couldn't get the project

[2015-01-26 22:54] LonghornTaco opened #69 "Sitecore 8"
Has anyone tested the WeBlog module in Sitecore 8 yet?

[2015-02-03 23:45] fastcpu88 commented on #69
If you look at patch-1 you will see updates to support Sitecore 7.5 that version should work with Sitecore 8.0.  I altered it to use the Sitecore search provider and have tested it with Coveo.  I have not tested it with Lucene.  If you have issues and want some help with 8.0 email us at chris.williams@techguilds.com or dennis.augustine@techguilds.com and we can assist you with any Sitecore 8 issue

[2015-02-10 10:52] TehWardy commented on #38
I have the same problem.
We use version 7.2 of sitecore, both sitecore and weblog were recently updated (within the last 6 months).

Our setup involves:
  1 database server
  2 web servers

Our CM and CD servers are separate but share the same DB server.

We have confirmed that normal content management based publishing within sitecore but not within weblog seems fine but publishing weblog entries

[2015-02-10 11:42] TehWardy commented on #38
Interesting note:
I would expect if the issue was with indexing that linking directly to the page would still work even if it wasn't listed in menus / generated listings.
That is not the case, despite Sitecore telling me the item has been published I can only directly link to it if in edit mode (page editor), normal viewing returns a 404.
Checking the database, the item is actually there ... hmmm.

[2015-02-11 11:22] adeneys commented on #67
WeBlog does support multiple blogs.
Is it just the new posts that have issues? Could this be an index refresh issue?

[2015-02-11 11:37] adeneys commented on #38
The fact that you can link to a post when editing but not view it under normal conditions indicates the item has not been published, or at least the server isn't seeing the item as published. You also listed a number of steps which generally help solve the issue. It sounds like a setup issue. Any of the following could be causing the issue:

* Remote events not configured correctly so CD doesn't s

[2015-02-11 13:49] ufpian commented on #67
We actually just recently resolved this on our own through a lot of banging our heads against the wall.  As it turned out, our config file which indicates the items to be searched had an error.  Specifically, the named nodes for each template were redundant.  After changing them to a unique node name, both templates started showing up as returned results.

![capture](https://cloud.githubuserconten

[2015-02-11 13:49] #67 closed

[2015-02-13 10:13] vaneeth commented on #52
Hi we are using 2.3 version for sitecore 7.0. Is it possible to get this fix(dll) for the mentioned version. We are unable to get the project to build. This is quite urgent now. Any help would be appreciated.

[2015-02-13 13:52] jhansen81 commented on #52
I have a built version of the DLL that utilizes a similar method and has been working on our site (7.1) for the past 8 months.  I'm happy to send it to you.

[2015-02-13 14:08] vaneeth commented on #52
Thatz great! Please do send it to Vaneeth.robert@activeis.net. Many thanks

[2015-02-16 08:39] vaneeth commented on #52
Many thanks jhansen81 for the DLL. I am now able to add comments. Thanks once again

[2015-02-16 11:17] TehWardy commented on #38
In our case I would not be suprised if there were setup issues, I don't spend enough time with Sitecore to know how to resolve the issues but it looks like the actions I have taken so far have resulted in at least a temporary fix.

In case this helps anyone else I found the following to be helpful ...

 - Restart IIS on both boxes (probably overkill).
 - Rebuilt all indexes on both internal and ex

[2015-03-05 13:46] RickyW80 commented on #52
Hi jhansen81,
I have been running into that same problem.  We just recently upgraded our clients site to 7.2 from 6.5 and updated the weblog to 2.3 along the way.  No more submission of comments.  Is there any way I can get a copy of your dll?

[2015-03-05 14:25] jhansen81 commented on #52
I've posted a zip file with the DLL to our website: http://www.singlestoneconsulting.com/~/media/files/SitecoreModulesWeblog.zip.

Hope that helps!

Best,

Jeff

[2015-03-05 14:38] RickyW80 commented on #52
Jeff,
That worked like a charm!  Thank you so much for your help.

Thanks,
Ricky

[2015-03-06 12:01] TehWardy commented on #38
Ok this isn't fixed ... I found that I can work around the problem by taking a combination of the actions above but I don't want our content editors depending on me every time they want to publish a blog entry.

From what I can tell, iisreset's appear to be the solving step ... it's like maybe the server is caching that it's done something it actually hasn't done and reloading the whole site bring

[2015-04-07 23:48] josemarcenaro commented on #69
Hi fastcpu - excuse me for the dumb question but... how do we get patch-1 ? Is that what we get if we pull the latest commit on master? Or it's available on Sitecore Marketplace?
Thanks in advance

[2015-04-08 01:58] fastcpu88 commented on #69
It is compiled against 7.5 and works with coveo. I have not tested it with lucene.  If you test with lucene and its good please add it to git and let me know :) https://docs.google.com/file/d/0B976zuito-ZITDRsQXVQQ1ZQa2M/edit?usp=docslist_api

[2015-04-09 11:58] josemarcenaro commented on #69
Thank you very much!
I will let you know once I’ve tested it with Lucene.

From: fastcpu88 [mailto:notifications@github.com]
Sent: Tuesday, April 7, 2015 10:59 PM
To: WeTeam/WeBlog
Cc: Jose M. Marcenaro
Subject: Re: [WeBlog] Sitecore 8 (#69)

It is compiled against 7.5 and works with coveo. I have not tested it with lucene. If you test with lucene and its good please add it to git and let me know

[2015-04-24 20:42] haliphax commented on #31
+1. I was actually surprised that this didn't come out of the box. We can easily implement this with some custom code, but it would be nice to have some settings handle it for us.

[2015-04-24 20:42] haliphax commented on #44
+1

[2015-04-30 14:26] davidsap opened #72 "'ValidationSummary' must be placed inside a form tag with runat=server"
Hi, I'm facing a problem with weblog, I'm using sitecore 7, when I try to enable the comments on a blog post and try to do a preview, it sends an error out, it says:

Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

Exception Details: System.Web.Http

[2015-05-01 19:58] haliphax commented on #10
+1. There's `Sitecore.Modules.WebLog.Search.Searcher`, but it is completely undocumented. In trying to get it to work, it is causing a `StackOverflowException` in `Sitecore.Kernel`...

[2015-05-01 20:23] haliphax opened #73 "Make utility functions public!"
I'm needing to do various things in new, custom layouts that do not directly correspond to existing structures/layouts in the WeBlog project. However, I noticed that I can't use `GetSummary`, for instance, when I'm not in the `BlogPostListEntry` sublayout, because its protection level is `protected`. Please let us use these utility functions wherever we would like! I've already had to start an `Ap

[2015-05-13 15:13] surendrad79 commented on #69
Hi,
This is "Surendra Dubey", i have tested WeBlog with Sitecore 8.0 and able to create blogs item and entries but while previewing i am getting below error
Could not find add method: AddCrawler (type: Sitecore.ContentSearch.LuceneProvider.LuceneIndex)
please find attached updated code base

and weblog.config file

[2015-05-13 15:33] surendrad79 opened #74 "Poll Module Compatibility with Sitecore 8.0"
Hi,
Can anyone help me, available Poll Module will work with Sitecore 8.0, i have to implement Poll functionality for one of my projects
https://marketplace.sitecore.net/Modules/Poll_Module.aspx?sc_lang=en

[2015-05-17 12:38] adeneys commented on #74
I think you're looking for the Poll module repository over at https://github.com/JimmieOverby/SitecorePollModule/issues

[2015-05-17 12:38] #74 closed

[2015-05-17 12:43] adeneys commented on #73
The intention of `BlogPostListEntry` was that developers could subclass it when they needed to override it's functionality. Can you provide an example where this isn't appropriate so I can understand the need to provide a utility method to execute the `weblogGetSummary` pipeline? Executing the pipeline is quite straight-forward so I'm wondering the value a utility method would provide.

[2015-05-17 12:46] adeneys commented on #72
Can you validate you have a form tag with `runat="server"` on your page that wraps the WeBlog sublayouts?

[2015-05-17 16:18] surendrad79 commented on #74
Thanks for replying adeneys, but this is not working with Sitecore 8.0, i have installed this module on Sitecore 8.0 and able to assign Poll template but this is not opening Poll Wizard.

[2015-05-26 23:32] adeneys commented on #49
I think I worked this one out. I was finally able to reproduce the issue locally.

@benbartle is correct above. The issue is to do with the `$date` token used in standard values for the `entry date` field. If you end up with items in your content tree that where not created with that field present (such as is the case with a migration or pasting item XML) then the `$date` token will not be replace

[2015-05-26 23:32] #49 closed

[2015-06-08 19:52] alan-null opened #75 "Cannot rebuild WeBlog index (root item cannot be found)"
**How to reproduce**
1. Install Sitecore 8
2. Install WeBlog
3. Build WeBlog project with target sc80
4. Copy dlls and configs
5. Open Control Panel
6. Open *Indexing manager*
7. Try to index WeBlog index.

**Actual result:**
[code]

Log:
[code]

[2015-06-09 21:42] alan-null opened #77 "Cannot see posts from master database in PageEditor"
**Environment:** Sitecore 8

**Description:** When you rebuild search index you will not be able to see any results from *master* database in Experience Editor. Only blog posts from *web* database will be returned.

[2015-06-15 21:21] alan-null opened #79 "Content Search for Sitecore 7.0 is not working."
**How to reproduce**
1. Install Sitecore 7.0
2. Install WeBlog 2.3 for SC70
3. Build WeBlog project with target sc70

**Actual result:**
You are not able to see any posts or following error will be thrown: *WeBlog index cannot be found*

[2015-06-17 21:52] alan-null opened #81 "WeBlog buttons from the ribbon are not visible in Sitecore 8."
Like in the title. WeBlog buttons are not visible in Experience Editor for Sitecore 8+.

[2015-07-16 17:48] rendermouse commented on #81
Are you using Chrome? In Chrome, many Sitecore ribbon items are missing for me. I had to use IE11.

[2015-07-23 06:14] Warunika opened #83 "Creating Multiple blogs inside one instance"
I can create two or more blogs inside one instance. But when I'm previewing the blog it will mixed up all the posts and previewing the post which are not relevant to the previewed blog. Im using WeBlog_WeBlog_SC8 version in the Content Search branch

[2015-07-26 18:59] Rezakhatami opened #84 "seo issue"
how can I improve www.tahlildadeh.com seo?
it is for Iranian web developers( website language is Farsi/Persian )
I read about title,content,url,slug,h1 tag and lot of things.
and I used all of them but the alexa rang doesn't change.
please tell me more about seo.

[2015-08-19 21:47] noxhoej opened #85 "Localized month names in folders?"
Is there any way to specify the Culture/locale/Language used for generating month names, when using the default MonthTemplate of
[code]
such that you would get e.g. `2015/februar` instead of `2015/February` in the 'da-DK' locale? Preferably configurable per blog or per site...

[2015-08-20 12:03] Swati1625 commented on #52
Hello Jeff,

I am using Sitecore 8 and I am facing same problem. Can you please provide me Weblog dll for Sitecore 8? I tried to use dll which you have provided above but it is not working. Please help me.

Thanks,
Swati Gupta

[2015-08-23 11:10] alan-null commented on #85
Hi Nicholas,

This feature comes from **NewsMover** module, not **WeBlog**.

CultureInfo is taken from your machine, without any option to change it.
You can see how it is implemented here:
https://github.com/JimmieOverby/NewsMover/blob/master/Tasks/Folder.cs#L50

You have got following options:
* Change in *WeBlog.config*  the date format for the month from **"MMMM"** to **"%M"** - this will give

[2015-08-24 14:56] jhansen81 commented on #52
I haven't made one for 8 yet but I can give it a shot this week.

On Thu, Aug 20, 2015 at 5:03 AM -0700, "Swati1625" <notifications@github.com> wrote:

Hello Jeff,

I am using Sitecore 8 and I am facing same problem. Can you please provide me Weblog dll for Sitecore 8? I tried to use dll which you have provided above but it is not working. Please help me.

Thanks,

Swati Gupta

—
Reply to this ema

[2015-08-25 10:36] Swati1625 commented on #52
It will be great help.. Please provide me.

[2015-08-26 00:37] DanielStillwaggon opened #86 "Archive in non-English versions"
It appears that the "Archive" sidebar feature has issues when dealing with multiple language versions. We have created Chinese versions of our blog entries and now the archive has a list of years stretching back to year 0 (that is 2015 separate years listed with no blogs under any except the few in 2015 that we have created.) The blogs from 2015 are displayed properly, but the years make it unusab

[2015-08-26 11:37] adeneys commented on #86
Which WeBlog version are you using? In the latest code the years for the sidebar are taken from the years the entries span. You can check out the methods in the codebehind for the Archive sublayout: https://github.com/WeTeam/WeBlog/blob/master/Website/layouts/WeBlog/Sidebar/Archive.ascx.cs

I've tried this locally, creating the entries in a non-English language (German), and the archive behaved as

[2015-08-26 11:44] adeneys commented on #85
If you're using Sitecore 7 or above you can use Item Buckets instead of NewsMover. So we don't globber the entire site and Item Bucket behaviour WeBlog includes a `DynamicBucketFolderPathSelector` to allow defining different folder structures per bucket. We also include the `SimpleCreationDateBucketFolderPath` class to create the date folder structure in the bucket. You could create your own class

[2015-08-26 11:46] adeneys commented on #84
This project is for the WeBlog module for Sitecore, not weblogs in general. If you have specific issues related to the WeBlog module for Sitecore please log those.

[2015-08-26 11:46] #84 closed

[2015-08-26 11:48] adeneys commented on #83
Try the beta build that was released yesterday https://github.com/WeTeam/WeBlog/blob/feature/content_search_support/data/packages/WeBlog-2.4.0_beta_sc8.0.zip . In my testing prior to releasing this build I did not witness this issue.

[2015-08-26 11:51] adeneys commented on #79
I believe this issue was due to the legacy Lucene Search config still being included when the project is built. This should be fixed in the feature/content_search_support branch.

[2015-08-26 11:51] #79 closed

[2015-08-26 15:08] alan-null commented on #79
I think you are right. As far as I remember I didn't notice that there was already some new dev brach.

[2015-08-26 15:13] #77 closed

[2015-08-26 15:13] #75 closed

[2015-08-26 21:33] DanielStillwaggon commented on #86
I looked through the logic and it appears that there may be an issue using this with the language fallback module. It appears that you are using your own globalization module that looks to different places but is reading "null" values as having a valid year. We have "Entry Date" set as a shared value with most of the rest of the blog content set to allow fallback (so that all of the blogs appear o

[2015-08-30 10:30] AlenPelin opened #87 "Consider migrating to JsonDataProvider"
For development purpose, consider migrating to [Sitecore.JsonDataProvider](https://github.com/Sitecore/Sitecore.JsonDataProvider) which is in Release Candidate state.

[2015-09-03 12:54] Swati1625 commented on #52
Hello Jeff,

Can you please provide me WeBlog dll for 8?

Thanks,
Swati Gupta

[2015-09-05 14:04] AlenPelin opened #89 "Consider integrating with SC8 social features"
Consider integrating with SC8 social features

[2015-09-05 14:08] AlenPelin opened #90 "Consider replacing WCF with EventQueue"
Consider replacing WCF with EventQueue

[2015-09-07 11:42] AlenPelin opened #92 "Add serialization to project"
I suggest adding serialization items to the project to be able to search for literals (understand where specific keyword is used) and enable Search&Replace technique during refactoring. It is better to do that alongside with #87

[2015-09-08 13:43] AlenPelin opened #93 "Integrate comments with Facebook, Google, Twitter"
In current implementation, to post a comment I have to type my name, email, website and capcha which is not good at all - I would prefer to be able to input my comment and then click "Post with FB account", authorize the app to get my name from FB and see my comment on website.

[2015-09-10 13:35] adeneys opened #94 "Update reCAPTCHA to Version 2.0"
reCAPTCHA version 2.0 is now available and we should move to using it.
Drop the old recaptcha library which works with recaptcha v1 and implement v2.

[2015-09-10 18:19] alan-null commented on #81
Hi @rendermouse,
Sorry, I somehow missed your message . Yes, I am using chrome, but it is not the case. Since Sitecore 8 ribbon buttons need to be updated with additional layout details to render properly. If you are interested please see my pull request.

[2015-09-10 18:24] alan-null commented on #73
Closing due to lack of activity.

[2015-09-10 18:24] #73 closed

[2015-09-10 18:32] alan-null commented on #58
Implemented and merged into master.

[2015-09-10 18:32] #58 closed

[2015-09-10 18:39] alan-null commented on #60
Closing due to lack of activity.

[2015-09-10 18:39] #60 closed

[2015-09-12 07:08] alan-null opened #95 "Blog entries returned in wrong order"
**How to reproduce:**
1. Install Sitecore 7.0, (rev. 140120)
2. Install WeBlog
3. Create new blog and add some posts
4. Modify entry dates so you can see if sorting works fine

**Actual result:**
* Posts are sorted in reverse order (starting from the oldest one)
* Archive component does  not render anything

If you confirm that package was created without this https://github.com/WeTeam/WeBlog/comm

[2015-09-12 09:36] alan-null opened #96 "Problem with field wrapping in Experience Editor"
[Steps to reproduce](https://dl.dropboxusercontent.com/u/191345630/Stecore/WeBlog/field%20wrapping.gif)
As you can see if you add some paragraphs into a field you will not be able to edit it from Experience Editor anymore.
Here is an introduction field raw content.
[code]

**Additional info**:
Bug doesn't appear on Sitecore 7.0

For more info see pull request: #88

[2015-09-12 11:51] adeneys opened #97 "Use component specific logger"
It's much easier to find entries specific to a component if the component tags it's log entries. Rather than trying to remember to add a tag to each entry it's easier to create a component specific logger class and use that instead.

Instead of:
    Log.Error("[WeBlog] this is a message", this);

Create the `Logger` class and use that:
    Logger.Error("This is a message")

[2015-09-12 11:54] adeneys commented on #64
This has been fixed and will be available in release 2.4

[2015-09-12 11:54] #64 closed

[2015-09-12 12:07] adeneys commented on #95
Pulled mentioned commit. Release packages will be rebuilt

[2015-09-12 12:07] #95 closed

[2015-09-12 12:27] alan-null commented on #65
Closing due to lack of activity.

[2015-09-12 12:27] #65 closed

[2015-09-12 12:31] #85 closed

[2015-09-12 12:35] alan-null commented on #83
Issue fixed. Problem no longer exists.

[2015-09-12 12:35] #83 closed

[2015-09-12 12:37] alan-null commented on #72
Closing due to lack of activity.

[2015-09-12 12:37] #72 closed

[2015-09-12 13:50] alan-null commented on #61
HI @GBDurrary,

I don't even know if you are still interested what is wrong there, after almost one year but I will try to explain it anyway,

I am pretty sure that WeBlog version there contains following **functions.js** file
https://github.com/WeTeam/WeBlog/blob/50a699b5b8d01675cbdda2dc792ae2f2e98ad665/Website/sitecore%20modules/web/WeBlog/Includes/functions.js

I was able to find broken part:
[

[2015-09-12 13:50] #61 closed

[2015-09-13 09:00] alan-null opened #98 "Comments List component - invalid links"
**How to reproduce:**
1. Create some post
2. Add comment with website without defined protocol (http, https), for example *sitecore.net*
3. Refresh the page and click on the author name to navigate to his website.

**Actual:**
Generated link to the page follows:
[code]

**Expected:**
[code]

[2015-09-13 09:16] alan-null opened #100 "Ability to edit URL slug"
At the moment this can be done only in _Content Editor_ via _rename_ operation.
The idea is to provide ability to change the url slug of the current blog post in _Page Editor/Experience Editor_

[2015-09-14 12:59] adeneys commented on #96
Fixed in release 2.4

[2015-09-14 12:59] #96 closed

[2015-09-15 14:28] vikrantpunwatkar opened #102 "How to configure alternate templates in Sitecore 8"
Hi,

I have followed the steps to use alternate template from below link,
https://github.com/WeTeam/WeBlog/wiki/Template-Settings

But I have been trying to achieve this with Sitecore 8, so following is the modified patch.
Though handlers work as expected, unfortunately indexes don't.
Blogs created from custom template don't show up.
Could you please verify and let me know if I am missing anything

[2015-09-15 14:57] techphoria414 opened #103 "Markdown for Sitecore Support (Plugin?)"
Allow posts to (optionally?) use [Markdown for Sitecore](http://getfishtank.ca/blog/module-markdown-for-sitecore).

Would likely need to be separate fields for Markdown content, could do some tricks with the getContentEditorFields pipeline to hide the existing Rich Text fields. Or, could be a different template entirely?

[2015-09-15 20:59] alan-null commented on #102
Hi @vikrantpunwatkar,

This wiki page is pretty old and not up to date.
AFAIK you need to pass your templates as a settings via .config file.
Those fields from the documentation are not used in businesses logic anymore.

See default configuration over here:
https://github.com/WeTeam/WeBlog/blob/master/Website/App_Config/Include/WeBlog.config

Make sure your templates overrides default values.

Thi

[2015-09-16 04:07] techphoria414 opened #104 ""String or binary data would be truncated" error using Interesting Entries"
When attempting to render a blog with a large number of articles and the Interesting Entries sidebar on Sitecore 8, getting a SQL exception, I assume due to the large size of the EntryIds parameter on the SQL query. Passing in all the entry IDs of the blog to this SQL statement seems really inefficient anyway, is there a better solution?

[code]

[2015-09-18 11:54] #81 closed

[2015-09-18 11:57] adeneys commented on #63
References for MSCaptcha.dll have been updated to the versions used in the lastest versions of WFFM to ensure compatibility.

A new issue #94 has been opened to update the recaptcha code as this is not a simple update. The library we're currently using is the latest version of that library and it does not support recaptcha v2.

[2015-09-18 11:57] #63 closed

[2015-09-18 11:59] #98 closed

[2015-09-18 12:01] adeneys commented on #52
This has been fixed in release 2.4

[2015-09-18 12:01] #52 closed

[2015-09-18 12:15] jhansen81 commented on #52
Hi Swati,
Please use release 2.4 which contains the fix for this issue.
Thanks,Jeff

On Thu, Sep 3, 2015 at 5:54 AM -0700, "Swati1625" <notifications@github.com> wrote:

Hello Jeff,

Can you please provide me WeBlog dll for 8?

Thanks,

Swati Gupta

—
Reply to this email directly or view it on GitHub.

[2015-09-21 21:07] alan-null opened #105 "Entry date - consistency across language versions"
Currently **Entry Date** field is not shared, thus you can define different entry date across different language versions.
Because of that news mover will change post location after you switch between language versions and  trigger one of the News Mover handlers.

IMHO we should switch **Entry Date** field into shared field to avoid inconsistency between address bar and post entry date from post d

[2015-09-21 22:34] alan-null opened #106 "No limits for characters count in submit comment component"
Sitecore introduced length limit for item name in CE and it can be 100 characters long. In fact you can create item with  max 256 characters.

Submit comment doesn't restrict fields length, so you can pass more than 256 chars for name
In my opinion we should limit fields and apply extra validators

### Identified problems
* *CreateCommentItem.cs*
During comment item creation (provided author name

[2015-09-23 19:20] alan-null commented on #39
Version with  SC7 support released.
More information here: [Release 2.4](https://github.com/WeTeam/WeBlog/releases/tag/release%2F2.4)

[2015-09-23 19:20] #39 closed

[2015-09-23 19:22] alan-null commented on #102
Closing due to lack of activity.
If you have any additional problems fell free to open a new issue.

[2015-09-23 19:22] #102 closed

[2015-09-23 19:24] alan-null commented on #69
WeBlog with Sitecore 8 support released.
Follow [this](https://github.com/WeTeam/WeBlog/releases/tag/release%2F2.4) link to learn more

[2015-09-23 19:24] #69 closed

[2015-09-23 19:31] #27 closed

[2015-09-23 19:36] alan-null opened #107 "Responsive layout"
Making WeBlog layout responsive and more flexible seems to be a good idea.
We could integrate: [Bootstrap](http://getbootstrap.com/) to achieve that.

[2015-09-24 14:10] adeneys opened #108 "Remove CIG"
The Custom Item Generator (CIG) module is a great tool for sites with a large number of templates or templates that change frequently. And WeBlog is none of those. We have a small number of templates and they don't change very often.

By using CIG we're currently pulling in a dependency that we don't really need, and this is an imposition on users of our module. As such, we want to remove CIG from

[2015-09-27 12:59] adeneys opened #109 "Remove support for older Sitecore versions"
WeBlog 2.4 only supports from Sitecore 7 onwards.

We need to remove build configurations and conditional compilation symbols for earlier versions of Sitecore.

Also, remove all deprecated APIs that were deprecated prior to the 2.4 release.

[2015-09-27 13:02] adeneys commented on #62
We've updated our plans to include full MVC support in one of our next releases.

We don't want any duplicate code, so any logic currently contained within any presentation component must be extracted to a separate API which can be called from the sublayout and the corresponding MVC view.

[2015-09-29 06:07] vikrantpunwatkar commented on #12
Hi,

I have worked on an alternative as suggested by @alan-null and created a package consisting of custom templates and config patch.

https://drive.google.com/folderview?id=0B16y8lyOflLYUjZTNjFkMFNJcFk&usp=sharing

I didn't get time for thorough testing but I have checked basic functionality and it works as expected.

Though this fulfills my need, this solution has one big drawback. You are able

[2015-09-30 12:52] adeneys opened #110 "Remove NewsMover"
Continuing the theme of removing dependencies and utilising OOTB features more, let's see if we can remove the NewsMover module and just use Item Buckets instead.

[2015-10-09 16:30] alan-null opened #111 "Redundant token ($username)"
I found redundant token in *TokenReplacer*.
I think we can get rid of **$username** token because Sitecore supports **$currentuser** token already.

[2015-10-09 18:06] cfotache commented on #83
I'm experiencing the same issue, using 2.3.0 now.
I tried downloading the 2.4.0 beta but the link above is broken. Where could I download that (for Sitecore 8), or another version where there would be no issues with multiple blogs?

[2015-10-09 18:13] alan-null commented on #83
Hi @cfotache,
You will find all public releases [here](https://github.com/WeTeam/WeBlog/releases)

[2015-10-15 13:24] alan-null commented on #111
Merged

[2015-10-15 13:24] #111 closed

[2015-10-16 11:03] #109 closed

[2015-10-19 13:17] uwe-e opened #113 "Sites Running WeBlog"
Hi there,

we've been running several blogs.

http://www.swissbau.ch/de-CH/news/blog.aspx
http://www.muba.ch/de-CH/FuerMedien/FuerIhreBerichterstattung/Medienmitteilungen.aspx
http://www.mch-group.com/de-CH/News/Medienmitteilungen.aspx

best regards
Uwe

[2015-10-20 20:03] alan-null commented on #113
Hi @uwe-e,

Thank you for sharing. I will update our wiki page.

Best Regards,
Alan

[2015-10-24 08:57] #113 closed

[2015-10-24 09:02] alan-null opened #115 "Captcha throws error during postback"
**How to reproduce:**
1. Go to some post
2. Add comment
3. When page will refresh hit F5

**Actual:**
You will see YSOD
![image](https://cloud.githubusercontent.com/assets/6848691/10709876/6bb656a6-7a3e-11e5-9692-09ec591f5fd4.png)

**Expected:**
No errors, fail silently.

[2015-10-28 11:05] #115 closed

[2015-10-30 06:42] email-aveeral commented on #62
Is weblog on MVC?
If yes, Can i have the new package for installation and github path for it?

[2015-10-30 07:57] alan-null commented on #62
hi @email-aveeral

We are still working on MVC support for WeBlog (let's say current progress is 90-95%).
I think this feature will be a part of the next release.
Currently we do not have any beta package for that.

[2015-11-02 11:04] #108 closed

[2015-11-02 18:18] alan-null opened #119 "Reorganize solution"
Currently there are two projects:
* Sitecore.Modules.WeBlog
* Test

Split it into:
* Sitecore.Modules.WeBlog
* Sitecore.Modules.WeBlog.WebForms
* Sitecore.Modules.WeBlog.Mvc
* Test.

[2015-11-02 18:25] alan-null opened #120 "Components thumbnails"
Currently MVC and WebForms uses the same thumbnails, which may be little bit confusing for administrators
![image](https://cloud.githubusercontent.com/assets/6848691/10889950/44dcda92-8195-11e5-8d0a-9efeb02e88cb.png)

Different thumbnails, different naming or special solution for dynamic available components? We should discuss that.

[2015-11-04 16:48] alan-null opened #121 "Remove auto publish from the ExperienceEditor commands"
Currently, newly created categories and entries via Experience Editor are automatically published.
We decided to remove this feature, as there is no rational use case for it.

[2015-11-08 10:32] adeneys commented on #120
Perhaps we just add the view engine onto the end of the component: "Archive - MVC", "Archive - WebForms". See if we can do that through the display name so code won't be affected if implementers change the title.

We should also take new screenshots once the new default theme is implemented.

[2015-11-08 10:52] #121 closed

[2015-11-13 07:49] #62 closed

[2015-11-23 23:00] alan-null commented on #97
### Example code
[code]

### Example log
[code]

[2015-11-24 21:39] alan-null commented on #54
Closing as duplicate:
#53 | Comment submission filtering by keywords

[2015-11-24 21:39] #54 closed

[2015-11-28 22:48] #104 closed

[2015-12-01 23:42] pulkitduggar opened #128 "Wordpress Import failed"
I have installed weblog and am trying to import wordpress export xml following the same steps written here.
The import start but fails with the exception. Checked in the log file and below is the stacktrace

ManagedPoolThread #10 18:21:34 INFO  Job started: Creating and importing blog
ManagedPoolThread #10 18:21:34 ERROR Exception
Exception: System.Reflection.TargetInvocationException
Message: Exc

[2015-12-03 17:54] alan-null commented on #128
hi @pulkitduggar,

I am afraid that it will be really hard for us to reproduce your case without similar input data.
From the error log I can see that problem occurred in system class (not int WeBlog itself) while trying to load xml content into xml document.

Possible options:
1. Please open your exported XML file and go to the specific line and try to confirm if  exported data isn't corrupted.
2

[2015-12-07 22:34] alan-null opened #131 "TagCloud - fake tag cloud weights"
**Currently**
It is possible to change the tag weight by duplicate tag name
![image](https://cloud.githubusercontent.com/assets/6848691/11641672/d47cdf48-9d39-11e5-9893-aa9115b2abe9.png)

**Expected:**
Get unique tag names from every blog post.

[2015-12-07 22:45] alan-null opened #132 "TagCloud - maximum count parameter"
**Currently:**
There is no cap for tags in tag cloud component.
While using WeBlog with high amount of blog posts, tag cloud looks like a wall of text.
This is problematic especially when some tags are used only once.
![image](https://cloud.githubusercontent.com/assets/6848691/11642031/fa252866-9d3b-11e5-9fd2-71387619a916.png)

**Expected:**
Extra rendering parameter *Maximum Count* to limit the n

[2015-12-09 14:10] ddysart opened #133 "There are still remnants of Sitecore.Search left in the project"
As pointed out on the Slack channel, App_Congif/Include/WeBlog.config still configures the HistoryEngine for the web database.  Additionally, the tests for EntryManager call Sitecore.Search.SearchManager to rebuild indexes.

[2015-12-09 22:02] alan-null commented on #86
@DanielStillwaggon

It appears to be a language fallback module issue.
Language Fallback is dedicated for Sitecore CMS <6.5, which means for versions which are not supported by WeBlog anymore.

Just one hint:
Make sure you setup fallback for EntryDate fields and verify if your blog root **__Created** field has the same value for both versions (I assume it hasn't if you created second language vers

[2015-12-09 22:02] #86 closed

[2015-12-09 23:31] alan-null commented on #34
Console error:
[code]
Possible solution:
- use Firefox instead of Google Chrome

Possible workaround:
- update security policy on your computer. You will find tutorial [here](http://www.bugdebugzone.com/2014/08/sitecore-modal-pop-ups-are-not-working.html)

We could rewrite this dialog with SPEAK in the near future.

[2015-12-09 23:31] #34 closed

[2015-12-10 18:43] #97 closed

[2015-12-10 18:44] #106 closed

[2015-12-10 18:45] #110 closed

[2015-12-10 18:46] #132 closed

[2015-12-10 18:46] #131 closed

[2015-12-10 18:46] #133 closed

[2015-12-11 16:29] #53 closed

[2015-12-11 16:31] alan-null opened #137 "Profanity filter improvements"
Improvements taken by proxy from https://github.com/WeTeam/WeBlog/pull/127
- Add caching for the word list in the pipeline
- Add a pipeline processor to allow defining the list in the CMS instead of a text file
- Remove the setting containing the file name and just pass into the processor through config

[2015-12-15 22:47] SourabhKhatri opened #138 "Duplicate entries while using indexing on multi server env"
I am using the latest version of blog code published on Sep 15, 2015. I have configured this with sitecore 7.0 with multi server env (separate CD and CM server). With this, i am finding duplicate entries  on blog home page, however same code is good in single server env. While i am disabling the strategies defined in weblog.contentsearch.sc70.config, this issue has resolved but it's not showing me

[2015-12-16 23:17] alan-null commented on #138
hello @SourabhKhatri,

We have got two different things here
#### WeBlog.ContentSearch.SC70.config
Are you talking about developer environment? I am asking because there is no such file in the release package.
My guess is you messed something with configs, probably duplicated some configurations by copying config from WeBlog project into website.

#### Content Delivery / Content Management
If you

[2015-12-17 12:24] adeneys opened #140 "Index configuration for Sitecore 7.2"
The index configuration for Sitecore 7.2 is not correct and does not work.

[2015-12-17 17:54] alan-null commented on #140
I was so excited with bug report so I didn't notice that you was already assigned.
I did a quick research and it seems that we will have to create separate ContentSearch config for SC72.

I did following changes to get it working:
old
[code]
new
[code]

After these changes new config differs from SC75 with: index param named **propertyStore** and all nodes under **strategies** node.

[2015-12-17 17:57] alan-null commented on #128
Closed due to lack of activity.

[2015-12-17 17:57] #128 closed

[2015-12-23 12:26] adeneys commented on #140
This is basically what I had as well with the inclusion of the strategies.

[2015-12-23 13:51] #140 closed

[2015-12-23 14:24] #137 closed

[2015-12-29 17:33] cfotache commented on #83
We found one single issue when having 2 instances. The PostListEntry.ascx control isn't part of the Presentation, instead it's called directly from PostList, so we can't pick a duplicate version to style it differently in the second instance. Is there any way around it?

[2015-12-29 18:32] alan-null commented on #83
Hi @cfotache

You can assign different **PostListEntry.ascx** file per **PostList** rendering using its rendering parameters.
There is a rendering parameter called: **PostTemplate** under *Customization* section.
If not set, default value will be taken
[code]

p.s
I think it should solve your problem, the only one problem I can see now is that you are not able to change standard values of the cate

[2016-01-10 11:12] alan-null commented on #138
Closed due to lack of activity.

[2016-01-10 11:12] #138 closed

[2016-01-18 22:38] alan-null commented on #51
@mariellamontoni
This is already supported without additional implementation.

By default you Feed will be created with the following Sitecore query:
[code]

You can create personalized RSS Feed (WeBlog supports multiple RSS feeds, all will be listed in Syndication component)
Here is my example:
[code]
This will aggregate all blog posts with at least one of the tags: **tag1**, **tag2** or Category

[2016-01-18 22:38] #51 closed

[2016-01-18 22:40] alan-null commented on #56
Closed due to lack of activity.

[2016-01-18 22:40] #56 closed

[2016-01-18 22:46] alan-null commented on #26
Fixed @https://github.com/WeTeam/WeBlog/commit/eae2c2dc536dfc193e21d84e9cf376fd9ccfd3be

[2016-01-18 22:46] #26 closed

[2016-01-18 22:56] #11 closed

[2016-01-18 23:16] alan-null opened #143 "Move captcha confirm message to a dictionary"
Currently following text
[code]
is hardcoded on the View.

Create a new Dictionary key for this text.

[2016-01-18 23:20] alan-null commented on #13
This will be resolved in different way. See @https://github.com/WeTeam/WeBlog/issues/143

[2016-01-18 23:20] #13 closed

[2016-01-19 15:32] cfotache commented on #83
@alan-null Thank you for your help so far!
Having another issue now, hope it's the last one. On the 2nd instance, it shows the entries with the correct PostTemplate that we set in the Customization section. However, when we click "View more", it loads the additional entries with the (different) Default_Post_Template. Any suggestion on what's wrong? Thanks!

[2016-01-19 16:11] alan-null commented on #83
Hello @cfotache

Everything is under control.
WeBlog uses separate device and layout to load entries dynamically via java script.

You just have to change the **PostTemplate** in one more place.
Open you Blog Root presentation details and find device **WeBlog AJAX** and change the **Post Template** in **PostList** component. (see image below)
![image](https://cloud.githubusercontent.com/assets/684

[2016-01-19 21:10] alan-null commented on #38
A lot changed since then. I don't think this issue is still valid. If it is, please create separate issue.

[2016-01-19 21:10] #38 closed

[2016-01-20 15:25] cfotache commented on #83
@alan-null Thanks, that worked perfectly. Now I think I'm stuck with the final bottleneck:
For the entry page, I can have the same template in both blogs, however the presentation controls are different (as they were on the main page). I can't think of any way of separating the template presentation between the 2 instances, so when I add entries to the first blog, they have one layout, and the sec

[2016-01-20 19:12] alan-null commented on #83
@cfotache As WeBlog does not support multiple templates per single Sitecore instance yet it is not possible out of the box (multi-template support is another big thing we want to implement).

### My idea to solve it is:
#### What you already have :
**BlogEntry** - this is standard WeBlog Entry template

#### What you need:
**BlogEntryVariant1** - this will be custom template
* use **BlogEntry** as

[2016-01-20 22:27] alan-null opened #145 "Anchors for comments"
Render anchors for each comment so someone can send a direct link to a specific comment.

[2016-01-21 09:05] TehWardy commented on #38
Easier to just not use this crap if i have to check your bugs every 6 months.

[2016-02-21 04:56] techphoria414 opened #147 "Setting ExpandMonthsOnLoad parameter on archive no longer works"
Default is set to "false" in Page_Load after parameter has already been applied, making it impossible to set to "true."

[2016-02-21 06:15] techphoria414 opened #148 "Interesting entries component title doesn't translate"
Even though field is labeled "Title Dictionary Key," output doesn't resolve from dictionary, just outputs literally.

[2016-02-21 14:51] techphoria414 opened #149 "Disabling comments on blog does not remove comments count from post list"
If the blog-wide setting is set to disable comments, I would expect this Comments count to not appear on any posts in the post list.

[2016-02-21 15:45] techphoria414 opened #150 "Additonal sorting options for tag cloud"
Sort tag cloud based on:

- Alpha
- Post count
- Date (current default, even though code attempts a sort)

Feature request from user site you-phoria.com.

[2016-02-21 22:01] techphoria414 opened #151 "Disabling comments on an entry still shows count, but does not show existing comments"
If an entry has existing comments, and then comments are disabled, the comment count will still display in the entry list, but the comments list will be hidden on the entry page.

Existing comments should still display.

[2016-03-03 03:15] ddysart opened #153 "MVC Branch Template doesn't have insert option on "Blog Entries""

[2016-03-03 20:47] #153 closed

[2016-03-08 16:30] ddysart opened #156 "MVC SubmitComment form markup differs from WebForms"
Validation markup is before the label/input, making form styling difficult.

[2016-03-10 13:51] olivier-github opened #158 "Experience Editor toolbar does not work in Sitecore 8.1 update 2"
In Sitecore 8.1 update 2,
when you click on the buttons in the experience editor toolbar, nothing happens.

It works with Sitecore 8.0 update 7

[2016-03-10 15:18] olivier-github opened #159 "Import from Wordpress does not work on Sitecore 8.0 update 7"
The import from Wordpress does not allow to import an XML file on Sitecore 8.0 update 7.
And even you rename it with a .zip extension, the import failed.

[2016-03-12 14:54] alan-null commented on #159
Hello @olivier-github,

Could you give us more details about your issue?

1. Make sure you file with wordpress data is uploaded into packages folder
2. Make sure it has `xml` extension, otherwise it won't be visible for file the picker.
3. If you cannot see tree while choosing blog destination install this package:
https://dl.dropboxusercontent.com/u/191345630/Stecore/WeBlog/ImportDialogFix.zip
(i

[2016-03-13 22:20] alan-null commented on #158
Thank you @olivier-github for the report.

I found what was the reason of the issue and created support package for you:
[WeBlog_support_158.zip](https://dl.dropboxusercontent.com/u/191345630/Stecore/WeBlog/support/WeBlog_support_158.zip).

Let me know if you encounter any problems.

[2016-03-19 11:49] alan-null commented on #33
Issue solved. New SPEAK app allows you to upload xml files

[2016-03-19 11:49] #33 closed

[2016-03-21 10:27] ritavinchurkar opened #162 "How to change date format for WeBlog Articles or comments?"
Hi,

We are using WeBlog 2.3 in Sitecore 8.1. We observed that NewsMover has changed date format used for creating item.
e.g. January is replaced by 01, March by 03, and so on.
_/news/2010/**June**/24/test_news_
is now
_/news/2010/**06**/24/test_news_

We required month in "MMMM" format. Is there any settings for changing date format?

Thanks in advance for help.
Rita

[2016-03-22 23:10] alan-null commented on #162
Hello @ritavinchurkar

You can achieve that by changing NewsMover settings in `WeBlog.config` file

Find following code:
[code]
and set desired string format here:
[code]

Hope it helps.

[2016-03-23 17:14] amymyo opened #163 "Delete blog comment"
Can I ask where the blog entry's comments are created? Can it be deleted from CMS?

Thanks.

[2016-03-24 04:24] adeneys commented on #163
Assuming you're using the default comment mechanism (not the Facebook comments component), then the comments are created inside the content tree underneath the post item. Each comment is created as a separate item so you can delete any and republish to remove a comment from a post.

[2016-04-01 12:25] alan-null commented on #105
Merged.

[2016-04-01 12:25] #105 closed

[2016-04-01 12:26] adeneys opened #165 "Sort by popularity updates to 2016 themes"
Commit 264c6f80dca395a51f56e5f240ff879e980a7b83 makes changes to the now deprecated functions.js file and some of the markup. Apply the relevant changes to the new 2016 themes once they're merged in.

[2016-04-01 12:29] adeneys opened #166 "Add anchors to comments for 2016 themes"
Apply changes made in commit b152d9fc464c0785502586e19967d227e668a627 to the new 2016 themes

[2016-04-01 14:19] alan-null commented on #41
Merged.

[2016-04-01 14:19] #41 closed

[2016-04-01 14:22] alan-null commented on #143
Merged.

[2016-04-01 14:22] #143 closed

[2016-04-01 14:22] alan-null commented on #145
Merged.

[2016-04-01 14:22] #145 closed

[2016-04-01 14:23] alan-null commented on #158
Merged.

[2016-04-01 14:23] #158 closed

[2016-04-05 19:56] #163 closed

[2016-04-05 19:57] #162 closed

[2016-04-05 19:57] #159 closed

[2016-04-05 19:59] alan-null commented on #156
Pull request with fix: #157

[2016-04-05 19:59] #156 closed

[2016-04-10 12:12] alan-null commented on #149
Merged.

[2016-04-10 12:12] #149 closed

[2016-04-10 13:06] adeneys commented on #107
This will be handled by the new themes.
Though bootstrap has not been used, to ensure everything is kept simple and no muddying of the markup or classes.

[2016-04-10 23:36] adeneys commented on #44
Has been done as part of the theme updates, but will verify once themes have been merged in.

[2016-04-10 23:38] adeneys commented on #29
New themes are responsive. Verify once the themes have been merged in.

[2016-04-10 23:39] adeneys commented on #12
I believe this to be working and was required to support our MVC features. Retest before release.

[2016-04-10 23:40] adeneys commented on #9
We have 3 new themes coming in the next release

[2016-04-10 23:40] #9 closed

[2016-04-11 22:48] #44 closed

[2016-04-22 10:24] fluxdigital commented on #62
Hi Weblog (@adeneys),

I'm just wondering if you are able to release the MVC version yet? I've just downloaded the latest version and it all seems to be webforms only still.

thanks

Adam

[2016-04-22 11:27] alan-null commented on #62
Hi @fluxdigital

Because MVC is not a part of any public release.
This feature will be included in the next release.
Official release date is unknown yet. I assume it should happen soon. At the moment we just need to finish one milestone (themes). It is currently being in review phase.

[2016-04-22 13:25] adeneys commented on #62
As Alan said, we're working on getting the next release out ASAP which will include MVC support. If you can't wait for the release you can checkout the develop branch.

[2016-04-22 14:18] fluxdigital commented on #62
Hi @adeneys & @alan-null - thanks for your quick response. Do you have a time frame for the next release? I'm not looking for concrete dates but just an idea. e.g in the next 2-3 months or end of the summer or autumn etc.

[2016-04-28 07:25] alan-null commented on #62
@fluxdigital
Our target is to do it ASAP, probably in the next 2-3 months, but let's do not treat it like a deadline.

[2016-05-04 20:14] #166 closed

[2016-05-04 20:16] #107 closed

[2016-05-04 20:22] alan-null commented on #29
Emulators shows that everything works fine.
![image](https://cloud.githubusercontent.com/assets/6848691/15027935/844e1122-1246-11e6-98f4-823e0fd6f050.png)

[2016-05-04 20:22] #29 closed

[2016-05-18 21:45] ddysart opened #169 "SPEAK Components missing from module and repo"
Currently running a private build made from the develop branch and just started seeing these errors in the log:

4816 17:43:21 ERROR Error processing command url:/-/speak/request/v1/expeditor/ExperienceEditor.WeBlog.CanExecuteWeBlogCommands error:System.InvalidOperationException: Could not retrieve request class
 for url:/-/speak/request/v1/expeditor/ExperienceEditor.WeBlog.CanExecuteWeBlogCommand

[2016-05-18 22:39] alan-null commented on #169
hi @ddysart

Do you have [`WeBlog.ExperienceEditor.config`](https://github.com/WeTeam/WeBlog/blob/master/Website/App_Config/Include/WeBlog.ExperienceEditor.config) inside your App_Config/Include folder?

SPEAK Ribbon commands in Experience Editor were a part of previous public release. I assume everything should work fine.
My guess is that you probably did build for old version which do not includ

[2016-05-19 21:29] ddysart commented on #169
Bingo. Thanks

[2016-05-19 21:29] #169 closed

[2016-05-24 13:34] alpasarupria commented on #52
![sitecore](https://cloud.githubusercontent.com/assets/2264224/15505706/39009ee6-21e2-11e6-83ea-ad9a0fbe5714.PNG)
I am this issue , while posting comment on blog . I am using SiteCore 8.0.

Please help.

[2016-05-24 14:50] alan-null commented on #52
Hi @alpasarupria,
Could you please provide any additional information about that?
* WeBlog version?
* Are you able to reproduce that ?
* What are possible steps to reproduce?
*  Is it an instance installed from release package package or dev build
*  Do you have access to any logs? Could you provide any?

If this is possible, please create separate task for that because it has some history already

[2016-05-25 04:58] alpasarupria commented on #52
1. I have installed WeBlog 2.4 for Sitecore 8.0
2. Yes, it is reproducible
3. I have just installed the WeBlog Module and Created a placeholder. Used that placeholder on page.While submitting it is giving above error.
4. I have installed package from  [](https://marketplace.sitecore.net/en/Modules/WeBlog.aspx)
5. Yes it is creating

`Stack Trace:

[ArgumentNullException: Value cannot be null.
Para

[2016-05-25 07:10] alan-null commented on #52
@alpasarupria Thank you for provided information.
I will take a look on that later. If you could be more precise on 3rd point I would really appreciate that.
I am not sure what should I do to reproduce it.

Create new placeholder in Content Editor
Then Add this placeholder on the layout.aspx?

I did it and everything seems to work. Does it happens both on published content and edit mode as well?

[2016-05-25 09:42] alpasarupria commented on #52
![image](https://cloud.githubusercontent.com/assets/2264224/15535111/8d1fb096-2289-11e6-88ee-b3bf7ec2e193.png)
I have created a layout e.g HomeLayout.Added a placeholder 'SubmitComment ' on the HomeLayout as above. Added a field renderer on HomePage.

[2016-05-25 11:47] alan-null commented on #52
@alpasarupria Now I understand everything, thank you for the images. It explains a lot.
My guess is that you are trying to use this component on a page that is not a WeBlog Entry page is that correct?

Currently all WeBlog components are restricted to live in a specific context (WeBlog context). It means components have to be used only on blog items.

The fact you see something like `#KEY#` on you

[2016-05-25 12:32] alpasarupria commented on #52
Yes i think this is the issue. So where i need to add 'SubmitComment' placeholder?

[2016-05-25 12:58] alan-null commented on #52
Perhaps it will be good idea for you to create blog using branch item to see how things are connected?
Like I said you cannot use SubmitComment outside of WeBlog root item.

Follow instructions below: (Screenshots are made on 7.5 but everything works the same way)
![image](https://cloud.githubusercontent.com/assets/6848691/15540608/a3a3e2e8-2288-11e6-8c24-c517287299ea.png)

Once you do it, just op

[2016-05-25 20:40] sandyfoley opened #170 "PageViews InterestingEntries isn't returning all entries from Facts_PageViews"
Attempting to use the InterestingEntriesAlgorithm = "PageViews" which runs a query against the Facts_PageViews table in analytics.

The query only returns a value--and only a single value--if the first ID in @EntryIds is in this table.

![webblog sql statement issue](https://cloud.githubusercontent.com/assets/2347061/15555575/50f806f0-2297-11e6-959d-dffbac7213c0.png)

In the image attached,  the f

[2016-05-25 20:41] sandyfoley commented on #170
This is for Sitecore 8.1 - WeBlog.2.4.0.for.Sitecore.8.0

[2016-05-26 11:14] alan-null commented on #170
hi @sandyfoley
Thank you for investigation and report.
This issue has been already fixed by @adeneys here #118 and will be part of the next release.

[2016-05-26 11:14] #170 closed

[2016-05-26 11:40] alpasarupria commented on #52
Thanks for the reply. It really helped a lot. Also,could you please how we add tags in blogs.I am getting categories folder but not tags. Do we need to install any Sitecore module for that.

[2016-05-26 14:18] alan-null commented on #52
@alpasarupria
Categories are managed (you will have to create category item before using it).
Tags are not managed and can be added without any additional steps.
To do it, simply open your post and type tags using comma as separator.
[code]
You can paste content both in Content Editor and Experience Editor:
**Experience Editor**
![image](https://cloud.githubusercontent.com/assets/6848691/15577402/

[2016-05-26 16:49] alan-null opened #171 "Remove Home item from release pacakge"
Currently our package contains Home item: `{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}`
We shouldn't ship WeBlog with this item, because:
- we don't need it
- we can override someones content if package will be installed with override option

[2016-06-07 21:33] kalotra opened #172 "Running WeBlog with Solr"
Hello.

Is it possible to run weblog with Solr? We're running Sitecore 8.1 Update 1 and using Solr and WeBlog conflicts with it. Any thoughts around this would be very helpful.

[2016-06-08 07:21] alan-null commented on #172
Hi @kalotra
I don't know if anybody from the team ever tested it.
Current content search configuration has Lucene configuration only.
We would have to investigate that.

[2016-06-08 13:15] ketchumj1 opened #173 "MVC Support?"
Hi,

We are wanting to feature WeBlog components in a product we are building.   However, that product is primarily all MVC.   I saw numerous discussions about MVC support coming soon to WeBlog.   Do you know when this would be?    We may have to remove featuring WeBlog in our product until MVC support comes to the module.

Thanks,
Josh

[2016-06-08 13:39] alan-null commented on #173
@ketchumj1
I am afraid I cannot guarantee any date. All I can say it will be shipped with the next release.
We have to merge few small improvements and go through testing process to reach that goal.

[2016-06-10 09:33] adeneys commented on #172
Can you specify the nature of the conflict?

As @alan-null mentioned, the OOTB content search configuration for WeBlog is based on the Lucene content search configuration. If you've swapped your solution over to use SOLR then you'll need to adjust the WeBlog content search configuration to use SOLR as well. This shouldn't be too hard as the config is pretty basic, leveraging the default provider c

[2016-06-21 13:14] alpasarupria commented on #52
I am facing one issue . I have a blog in which there is one comment section as mentioned above. Now i also have a search functionality on the top of same page.

When i click on search button then that Blog comment part gets highlighted and says that :Fill mandatory fields.

How can i manage two form posts on the same page.

Please help !!

[2016-06-21 23:20] adeneys opened #174 "Use a WeBlog specific validation group for controls"
All WeBlog controls and validators should be isolated to their own validation group so other controls on a page (like search) will not trigger the validation of WeBlog validations.

[2016-06-21 23:22] adeneys commented on #52
Looks like this is caused by not having the WeBlog controls in it's own validation group to isolate it from other controls on the page. I've created a bug to address this #174.

As a workaround, you should be able to use a validation group on your own controls. A post-back from a button in a different validation group will not trigger validation of controls in other validation groups.

[2016-06-22 04:56] alpasarupria commented on #52
Thanks , it worked for me.

[2016-06-23 11:19] alpasarupria commented on #52
I am facing issue in Sitecore presentation details. While clicking on Presentation -->Details, popup appears but edit functionality is not working. Clicking on Edit button does not fire any event. Please help!!

[2016-06-24 21:28] kalotra commented on #172
Hello.
We decided to stick to Lucene for the content search so no problem with WeBlog now. However, we're having an issue submitting comment on PROD CD server. DEV CA/CD works fine. PROD CA works fine as well, but submitting comments from PROD CD returns following error:

"The request for security token could not be satisfied because authentication failed."

The configuration is same across server

[2016-06-26 23:40] adeneys commented on #52
I don't believe your issue is related to the issue this issue was raised for (Adding a comment throws an error when there are dashes in the path) and this issue is closed. So please open a new issue.

[2016-06-27 13:38] alpasarupria opened #175 "Value cannot be null. Parameter name: Key"
I am facing issue in Sitecore presentation details. While clicking on Presentation -->Details, popup appears but edit functionality is not working. Clicking on Edit button does not fire any event. And sometimes it gives above error. Please help!!

[2016-06-27 13:38] alpasarupria commented on #52
ok. Please have a look [here ](https://github.com/WeTeam/WeBlog/issues/175).

[2016-06-27 23:19] adeneys commented on #175
I am unable to reproduce.

Could you please provide the following information:

- Which Sitecore version are you using?
- Which item template are you trying to set presentation details for? (blog, category, entry)
- Which UI are you using to set the presentation details (content editor, experience editor)
- Are you trying to edit OOTB presentation or has it already been changed previously?

[2016-06-28 05:09] alpasarupria commented on #175
I am using sitecore version 8. I am getting this error while i am restoring my production data to my local machine. On production it is running fine. But when taking the same copy of production to local it is giving error in presentation detail.

[2016-06-28 11:38] adeneys commented on #175
Could you provide the other information I requested? Also, are there any errors in the log file?

[2016-06-29 05:58] alpasarupria commented on #175
When i am trying to add presentation detail on any page.
![capture](https://cloud.githubusercontent.com/assets/2264224/16442009/937f6b7e-3dec-11e6-9880-a6ad85d5a1d7.PNG)

Then i am getting this error :

`Exception: System.ArgumentNullException
Message: Value cannot be null.
Parameter name: key
Source: mscorlib
   at System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
   at System.Collectio

[2016-07-03 22:20] adeneys commented on #175
From the error above, it's difficult to determine what the issue might be and whether it's WeBlog related or not.

- Are you able to set presentation on other items (non-WeBlog items)?
- Are you able to create a new blog (from the blog branch) and set presentation on any of the items in the new blog?
- Are you able to create a new item based on the `Sample item` template and set presentation for i

[2016-07-03 22:27] adeneys commented on #172
The above issue is unrelated to SOLR, so please open a new issue for it.

I'll leave this current issue open until we add a SOLR specific config file.

[2016-07-04 13:32] BigBadD opened #176 "Postlist, Archive and TagCloud not returning content - Sitecore v8"
I'm trying to run Weblog on a new Sitecore v8 upgrade, but Postlist, Archive and TagCloud are failing to return content.
The content all exists in the expected language variants and the WeBlog search index has been rebuilt.

Debugging GetBlogEntries, I can see that the template id, blog id etc are all valid and the query built looks correct... but nothing is being returned. If I modify the query t

[2016-07-05 09:51] alpasarupria opened #177 "Why the data published not reflected on UI - Sitecore"

[2016-07-06 23:05] adeneys commented on #176
It looks like we have a bug in the EntryManager constructor. The constructor has a default parameter but running on my local 8.1 instance I get an error in the log file about ReflectionUtil not finidng a default constructor. Obviously ReflectionUtil can't handle the default parameter when searching for the ctor to use.

As a workaround, try adding a default parameterless constructor to the EntryMa

[2016-07-06 23:09] adeneys commented on #177
With no description provided it's hard to tell what the issue might be.

But this may be related to issue #176

[2016-07-12 12:33] adeneys commented on #176
Sorry, I spoke too soon. Running the 2.4 release package on new installs of Sitecore 8.0 and 8.1 and everything works fine.

Can you verify all blog items have been published to the web DB properly before rebuilding the WeBlog index? If everything is published, try using Luke to verify everything in the index looks correct.

[2016-07-13 17:12] #173 closed

[2016-07-19 17:58] baraamahroka opened #178 "Comments not visible on the website - Sitecore 8.0"
- Adding a comment from the website will add the item into the master DB and it will be visible in the "WeBlog Comments" workbox created section waiting to be submitted.
- Submitting the item is suppose to move the item from "Created" to "Awaiting Approval" to be approved but this is not happening from some reason making the item still invisible to the public.
- I made sure submitting item will tr

[2016-07-20 13:18] baraamahroka commented on #178
Issue has been fixed on two different parts:

1- I fixed the workflow as it was not working properly to move like Created --> Awaiting Approval --> Approved.
2- The issue with the indexes was mainly because MongoDB was not installed on the production server. After installing MongoDB on prod; as soon as I approve the comment it will appear to the public.

[2016-07-20 13:47] #178 closed

[2016-07-20 14:40] alan-null commented on #178
hi, @baraamahroka

Great to see you've managed to fix your issues..
If you could provide us more details about fix for the first part we and whole community would be really grateful.

As I see, current `Submit` button moves item to the next state which is `Approved` not `Awaiting Approval` but it is published.
I guess the only one problem here is missing step between `Submit` and `Awaiting Approva

[2016-07-20 18:58] cmgutmanis commented on #176
Hi, I'm seeing the same issues as OP in an 8.1 instance. Could you confirm that the version in Sitecore marketplace and this repo is actually 2.4? When I decompiled the version from Marketplace as well as looked at the code in this repo, the assembly is listed as 2.3.0.x. Thanks!

[2016-07-21 19:57] JenKove commented on #177
We thought we were having this problem. It turned out that the cache settings had to be cleared on the blog sublayouts in the cacheable section, especially for the post listing. If we typed the name of the path for the published (but invisible) item, it appeared. But until we updated the cache settings, it would not appear because the pieces of the blog page that displayed new content were all blo

[2016-07-21 20:20] JenKove opened #179 "Blog author name translates to Full Name in a ca environment but Fully qualified name in production"
Since an upgrade from 6.6 to 8.1 of Sitecore, using Weblog, we noticed that while preview and a test (content authoring) environment show the author's name on the blog page as (properly) translated to the Security Full Name, the items in production display as Fully Qualified name.  While I know I can manually change this author's name to text in all entries, the fact that it does translate nicely

[2016-07-21 22:12] alan-null commented on #179
Hello @JenKove

My first hint is to check **Full Name** in your *Sitecore User Manager*
![image](https://cloud.githubusercontent.com/assets/6848691/17040520/767ec842-4fa0-11e6-9da0-c97709783c54.png)

Compare it for the same user on both servers. I think on production value in this column is empty.

[2016-07-21 22:18] alan-null commented on #176
Hi @cmgutmanis

We just forgot to update version number in `AssemblyInfo.cs` before the release
As you can see tag for 2.4 contains 2.3.0 in `AssemblyInfo.cs`
https://github.com/WeTeam/WeBlog/blob/release/2.4/Website/Properties/AssemblyInfo.cs#L34

[2016-07-22 15:35] JenKove commented on #179
You were 100% correct. Not only was it empty, but it was not even present. Thank you so much. I made a dummy entry for this domain user with the full name I wanted and it immediately appeared all over her blog posts. THANK YOU!

From: Alan Płócieniak [mailto:notifications@github.com]
Sent: Thursday, July 21, 2016 6:12 PM
To: WeTeam/WeBlog
Cc: Jennifer Rose; Mention
Subject: Re: [WeTeam/WeBlog] Blo

[2016-07-23 09:21] alan-null commented on #179
@JenKove
Great! I am glad I could help.

[2016-07-23 09:21] #179 closed

[2016-08-01 20:55] alan-null commented on #151
Everything works fine on the current develop branch, problem was fixed during mvc implementation.
Issue can be closed.

[2016-08-01 20:55] #151 closed

[2016-08-01 21:12] alan-null commented on #148
This rendering parameter was removed due to inconsistency with other components during mvc implementation.
If we plan to allow that functionality we should do this for all components not just for one.

[2016-08-01 21:12] #148 closed

[2016-08-01 21:47] alan-null commented on #147
Everything works fine on the current develop branch, problem was fixed during mvc implementation.
Default values are no longer set from the code.
Issue can be closed.

[2016-08-01 21:47] #147 closed

[2016-08-01 21:51] alan-null opened #180 "Add missing rendering parameters to archive component"
We use in code following parameters:
* ExpandMonthsOnLoad
* ExpandPostsOnLoad

but none of them exists in rendering parameters.

Create additional rendering parameters for Archive component so users can easily manipulate settings with `checkbox` not raw parameters.

_Discovered during: #147_

[2016-08-03 15:33] #165 closed

[2016-08-04 09:29] alan-null opened #183 "Custom tag list field"
I found nice custom tag field:
https://github.com/Bilyukov/SitecoreTaglist

We could probably merge it into WeBlog with small modifications.

[2016-08-09 19:25] jketchum1 opened #184 "MVC Support?"
Was there any updates with the WeBlog MVC Support?

[2016-08-09 21:26] alan-null commented on #184
hi @jketchum1

If you are asking about public release with MVC support. Answer is not yet.

MVC will be supported starting from the next release (3.0)

You can track release progress here:
https://github.com/WeTeam/WeBlog/milestone/2

6 issues left.
- 3 todo
- 3 done, waiting for review and merge

[2016-08-10 12:46] adeneys commented on #184
Hi @jketchum1,
MVC implementation has been completed and is available on the develop branch. So if you can't wait for release 3.0, you can grab the source.

[2016-08-10 12:46] #184 closed

[2016-08-10 14:09] jketchum1 commented on #184
That is great news!   Thanks so much!    I am going to pull the latest now.

Thanks,
JOSH KETCHUM
Senior Software Engineer

NISH TECH, INC.
jketchum@nishtechinc.com<mailto:jketchum@nishtechinc.com> | www.nishtechinc.com<http://www.nishtechinc.com/>

From: Alistair Deneys [mailto:notifications@github.com]
Sent: Wednesday, August 10, 2016 8:46 AM
To: WeTeam/WeBlog <WeBlog@noreply.github.com>
Cc: Jos

[2016-08-11 21:07] alan-null opened #186 "Syndication control rendered incorrectly"
![image](https://cloud.githubusercontent.com/assets/6848691/17602358/037ef0e4-6015-11e6-874b-056d57bfc7a6.png)

[2016-08-14 09:54] alan-null opened #188 "Deploy task process deploy.targets with case sensitive selector"
### Steps to reproduce
1. Edit you `deploy.targets` file
2. While editing sitecore path node use `sitecorepath` instead of `SitecorePath`

### Actual result
Error will be thrown
[code]

### Expected result
No errors.
Configuration is processed with case insensitive selector.

[2016-08-15 00:31] adeneys commented on #119
Note, the test project has been split out to "Unit Tests" and "Integration Tests".

[2016-08-15 05:16] #180 closed

[2016-08-15 05:18] #186 closed

[2016-08-15 05:18] #120 closed

[2016-08-15 05:19] #150 closed

[2016-08-15 05:20] #188 closed

[2016-08-17 06:02] #119 closed

[2016-08-17 22:27] alan-null opened #193 "Broken links in standard values fields"
When creating WeBlog items following warnings are printed in log files

[code]

[2016-08-17 22:31] #193 closed

[2016-08-21 07:53] alan-null opened #195 "Could not instantiate NVelocity during WP Import"
### How to reproduce:
1. Open WP import dialog
2. Select valid XML with exported WP (with comments inside)

Example: [craft_demo_content.zip](https://github.com/WeTeam/WeBlog/files/428733/craft_demo_content.zip)

### Actual result:
'Import failed' message in the Import dialog. Import interrupted, not all content imported.

Logs:
[code]

### Expected result:
No errors during import.
Import is not i

[2016-08-21 11:48] alan-null opened #197 "Do not render empty components"
Some components are rendered even there is nothing to show.
For example:
Headers for following components:
* Archive,
* Syndication,
* Categories

To make it consistent with rest components we shouldn't render anything if component has no content to display.

[2016-09-01 21:50] #197 closed

[2016-09-28 14:34] allanChacon commented on #115
I'm still getting this error in the package for Sitecore 7.5

[2016-09-28 15:56] alan-null commented on #115
Hello @allanChacon,

Notice the date of latest [release](https://github.com/WeTeam/WeBlog/releases) is 15 Sep 2015

And the commit date
`alan-null added a commit to alan-null/WeBlog that referenced this issue on 24 Oct 2015`

which means that all fixes merged after **15 Sep 2015** are not released yet.

Regarding bug fix.
Use of `try` and `catch` to catch specific exceptions is a standard approach

[2016-09-30 00:54] ajmmurray opened #199 "WeBlog\ExperienceEditor\Commands in the package for 8.0 do not work for 8.1- here are replacements"
Files in the sitecore\shell\client\WeBlog\ExperienceEditor\Commands that are found in the package for version WeBlog-2.4.0_sc8.0 are designed for use with Sitecore 8.0.
When installed into a SC8.1 site you may find that the command buttons on the Experience Editor toolbar do not work and generate js errors.

Sitecore 8.0 and 8.1 want different JavaScript for Experience Editor ribbon buttons and cl

[2016-09-30 06:10] alan-null commented on #199
Hello @ajmmurray,

Thank you for report.
I believe issues you are talking about were fixed already: #158

[2016-09-30 06:10] #199 closed

[2016-10-02 16:54] kmac23va opened #200 "JS errors in Experience Editor ribbon commands"
Using 8.1 update 2. When I click the new entry or category buttons in the WeBlog ribbon, I get Uncaught TypeError: Cannot read property 'prompt' of undefined. When I clock the Blog Settings button, I get Uncaught TypeError: Cannot read property 'generateRequestProcessor' of undefined. Thanks.

[2016-10-02 16:59] kmac23va commented on #200
Never mind, I see this is reported in #158 and fixed, just not in the marketplace package.

[2016-10-02 16:59] #200 closed

[2016-10-03 08:12] kmac23va opened #201 "Question: MVC install - best way?"
I'm beginning installation and usage of WeBlog on an MVC 8.1 U2 site. I've seen several questions through the backlog about the MVC version, where someone said in August it was pretty much ready in the develop branch. I grabbed the source code, filled in the missing references from the Sitecore NuGet feed, and built it out using the Release-sc80 configuration, which seemed to work.

Is the best wa

[2016-10-03 10:17] kmac23va commented on #201
As a note, when I try to import a number of the serialization items, I'm getting "Length of field content does not match the content-length attribute." errors on some fields.

[2016-10-03 14:18] alan-null commented on #201
Hello @kmac23va,

Here is how I setup new dev machine
* create clean Sitecore instance
* checkout code
* configure `deploy.targets` file
* setup serialization folder
  * create junction for serialization folder / copy serialization folder to website data folder
  * merge folder `master-rdb-additional` into `master`
* run build with desired build configuration
* update db
 * open `http://domainsite

[2016-10-03 19:14] kmac23va commented on #201
The serialization step runs into "length of field content does not match the content-length attribute" errors. I know I've run into a couple when I tried to do it through the content editor, here I get the YSOD directly. The first is in core on serialization\core\sitecore\client\Applications\WeBlog\Import.item, the __Renderings field; another is in master on serialization\master\sitecore\templates

[2016-10-03 19:51] alan-null commented on #201
@kmac23va  I just recreated environments two times: one with pre-installed package, then with clean db and I cannot reproduce that (tried with Update 3 but I don't this is the issue).

Could you please find that item which cannot be deserialzied and attach here?
Or please validate it by yourself. My guess is that you have some local changes or your website looks for item in wrong directory (make s

[2016-10-03 20:03] kmac23va commented on #201
@alan-null Yes, this is off the develop branch - my main goal is to get the MVC setup in place. I haven't made any changes to the project or files...the first couple of times I was trying to restore/connect up the bin files manually, but after you pointed out the deploy.targets bit I ran exclusively from there with a clean starting point.

I confirmed I'm using the exact same file you linked to. I

[2016-10-03 20:10] kmac23va commented on #201
Yep, that did it...each time I came across an error, I changed the format to Dos\Windows and saved the file, and got past it. It wasn't a lot of them, but I was able to get everything serialized in. I'll let you know if anything else comes up...thanks much.

[2016-10-03 20:13] alan-null commented on #201
No problem, good luck @kmac23va.

[2016-10-04 17:35] kmac23va commented on #201
One issue I ran into after getting everything set up was, in experience editor, there were some errors in edit mode around invalid HTML. I tracked it down some and it looks related to either the comment submission form or the captcha. What I ended up doing was wrapping those in checks to only show them if not in experience editor or preview mode (since they aren't needed there).

It also seemed li

[2016-10-04 21:58] adeneys commented on #201
Thanks for your input @kmac23va. Could you please open new separate bugs for each of those issues you found? The one about invalid markup in EE and the new entry button? We're just wrapping up dev at the moment so if we can identify and squash these bugs before release, that would be great.

And just a note on the item line endings. Rather than downloading the source from github into a zip I would

[2016-10-07 11:49] #174 closed

[2016-10-07 13:04] #201 closed

[2016-10-07 13:11] alan-null opened #202 "Interesting Entries throws an error when analytics are disabled"
### Steps to Reproduce the Problem
  1. Open WeBlog page with `Interesting Entries` rendereing
  1. Select `Page Views` mode
  1. Switch off analytics
  1. Open WeBlog page with `Interesting Entries` again

### Expected Behavior
No errors

### Actual Behavior
Error while rendering Interesting Entries

### Additional info
There is no protection agains situation when analytics are disabled

[2016-10-08 11:35] kmac23va opened #203 "New Entry button does not redirect"
I'm seeing this in 2.4 and the develop branch, applying the patch from #158 in 8.1 update 2. When I click New Entry, I get the popup to fill in my title, but when I click OK, I was expecting to be redirected to the new entry to fill it out. The entry is created, I see it in Content Editor and it shows up in the navigation bar in Experience Editor, but I'd thought I'd be sent to that page.

[2016-10-08 11:37] kmac23va opened #204 "Settings buttons do not auto refresh?"
I'm seeing this in 2.4 and the develop branch, applying the patch from #158 in 8.1 update 2. When I change settings for a blog or an entry using the Experience Editor buttons and click OK, nothing appears to happen. The save button is grayed out, but I know the changes are taking affect, I just need to refresh the page to see the changes. I'm not sure if this is the expected behavior or not, but t

[2016-10-08 11:54] kmac23va opened #205 "MVC Entry in edit mode throws errors"
Using 8.1 update 2 with the develop branch MVC code. Using the default entry setup, when I bring up the entry in Experience Editor edit mode, I get errors around the captcha component (see image). As a note, when I remove the captcha component from the page, the Sitecore error disappears, but the raw HTML showing up for the comment form still appears. (The other raw HTML appears to be the Facebook

[2016-10-09 03:17] kmac23va commented on #203
I'm not sure if you can see the fork I did of the project, but I made a fix for this into my develop branch.

[2016-10-09 03:17] kmac23va commented on #205
I'm not sure if you can see the fork I did of the project, but I made a fix for this into my develop branch.

[2016-10-09 20:38] kmac23va opened #207 ""Load more" functionality"
I noticed that the "load more" formatting functionality always uses the default PostListEntry format, even if an alternate form was entered into the PostList rendering parameter. Not a big deal but is there a way to make it respect the rendering parameter entry?

[2016-10-09 22:24] alan-null commented on #203
@kmac23va I created separate branch and pull request for each issue.
Once your fixes will be reviewed and accepted we will merge it to develop branch.

Pull request for this issue can be found here: #210

If you wish submit any fixes in the future please read [Contributing](https://github.com/WeTeam/WeBlog/wiki/Contributing) section in our wiki.

[2016-10-09 22:24] alan-null commented on #205
@kmac23va I created separate branch and pull request for each issue.
Once your fixes will be reviewed and accepted we will merge it to develop branch.

Pull request for this issue can be found here: #209

If you wish submit any fixes in the future please read [Contributing](https://github.com/WeTeam/WeBlog/wiki/Contributing) section in our wiki.

[2016-10-09 22:28] alan-null commented on #204
@kmac23va
Yes, you are right, this is how it works now.
Refresh functionality was never implemented.

I think we should do this for both settings buttons.

[2016-10-09 22:30] #195 closed

[2016-10-09 22:35] alan-null commented on #207
@kmac23va
It happens because entries for load more purposes are requested via different device.
There is different post list there, so you need change values twice.
See screenshot:
![image](https://cloud.githubusercontent.com/assets/6848691/19224183/c7e7f1ee-8e80-11e6-8d36-4188b854b2b6.png)

[2016-10-09 23:24] kmac23va commented on #207
Ah, that's the reason for the device. Very good, thanks!

[2016-10-09 23:24] #207 closed

[2016-10-10 00:06] #205 closed

[2016-10-10 00:27] #203 closed

[2016-10-10 00:30] alan-null commented on #204
@kmac23va
Would you like to implement this enhancement?

[2016-10-10 05:35] kmac23va commented on #204
This one I don't have a sample near me to work up, so pass. :) I had to do some rewiring on my version of the code to get things working as needed with my project (tags on PostListEntry, a way to call the Entry model from a non-blog page and thus need to set CurrentBlog manually)...I'll have to see about re-integrating them at some point.

[2016-10-10 23:23] #202 closed

[2016-10-11 00:39] alan-null opened #212 "Index in not updated after new item is added."
### Steps to Reproduce the Problem
  1. Create enthronement using develop branch
  1. Rebuild indexes
  1. Create new blog
  1. Add new Entry

### Expected Behavior
After item is added index should be auto updated.

### Actual Behavior
Item added, index not updated. New entry does not appear in post list

### Specifications
Sitecore.NET 8.1 (rev. 160519)

[2016-10-11 20:06] alan-null opened #213 "Updated package definition"
Current package definition does not contain all items/files. What is more there are non-existing files inside.

Please update package definition so we can generate **WeBlog 3.0** release package.

[2016-10-16 22:44] alan-null opened #214 "No fallback to default GetFolderPath for Bucket items"
### Steps to Reproduce the Problem
1.  Install WeBlog
2.  Create bucket item
3.  Add bucketable items under bucket
4. Perform bucket sync
### Expected Behavior

Bucket structure is created ( default behaviour should be folder structure based on created date).
### Actual Behavior

Nothing happen. Bucket structure is not created.

[2016-10-16 23:42] #204 closed

[2016-10-18 22:25] adeneys commented on #212
The cause of the issue is the cache settings on the sublayout definition item. These need to be updated.

[2016-10-20 22:12] alan-null opened #217 "Fix issues in CategoryManager reported by unit tests"
I noticed that two tests are red.

![image](https://cloud.githubusercontent.com/assets/6848691/19579765/9853cf3e-9722-11e6-9146-ae07ddbf237d.png)
![image](https://cloud.githubusercontent.com/assets/6848691/19579767/9b1f729a-9722-11e6-8eec-ac77d7ffca4e.png)

## Todo:
Fix issues in **CategoryManager** so all tests are green.

[2016-10-20 22:16] alan-null opened #218 "Rewrite EntryManager Integration tests to UnitTests"
We've got following comment in one of our UnitTests class:
[code]

After this pull request (#206 ) was merged we can use new knowledge to implement the rest of the **EntryManager** tests as unit tests.

[2016-10-23 12:05] #217 closed

[2016-10-23 12:05] #218 closed

[2016-10-23 22:26] adeneys commented on #212
Sublayout and view definition item cache settings were updated to ensure they are correct. This issue is no longer reproducible for me locally. Tested on Sitecore 8.0 and 8.1.

[2016-10-23 22:26] #212 closed

[2016-11-03 20:19] alan-null opened #220 "Do not render entry components if there is nothing to display"
Behaviour observed for the following components:
- Entry tags
- Entry categories

If tags/categories are not assigned to a post we should not render it as there is nothing to display:
![image](https://cloud.githubusercontent.com/assets/6848691/19893198/9a82b9da-a048-11e6-9783-223cc2573681.png)

[2016-11-09 20:08] allanChacon opened #222 "Blog Entry doesn't show up after publishing"
Hi, new blog entry doesn't show up after publishing. I tried to rebuild indexes, reset IIS, clear sitecore cache, republish the site but the blog entry is not there but if I create a new one then I can see the first entry that I created. I'm using Sitecore 7.5 and WeBlog-2.4.0_sc7.5

I think is related with this issue: https://github.com/WeTeam/WeBlog/issues/38

Thanks. Any help would be appreciat

[2016-11-11 09:53] alan-null commented on #222
Hi @allanChacon
What about the next posts? As I understood you were able to get it working when you created another, right?

When you created the next one did you check it on `web` or `master`? Did both posts appear or only the first one, but the last you created did not?

We are very close to release of the next major version. Is it a blocker for you or something that could wait?

[2016-11-11 13:07] allanChacon commented on #222
Hi,

Correct, I was able to get it working when I a created another. Both are in master and web so I tought the problem was indexes so I tried rebuild everything.

For now, it's not a block so I can wait. Will this major version able for Sitecore 7.5?

Thanks for your help

[2016-11-11 15:38] alan-null commented on #222
Our plan is to support every version starting from **Sitecore 7.2** .

Some packages might appear earlier than the other.

The highest priority have version: 8.1 and 8.2 but we are going to release the rest for sure.

[2016-11-29 21:56] alan-null opened #223 "No feed results for MVC blogs"
### Steps to Reproduce the Problem
  1. Create MVC blog
  1. Add some entries
  1. Open `Blog Entries` item to see feed

### Expected Behavior
Proper feed with available items is visible

### Actual Behavior
No results. Empty feed

### Additional info
Missing configuration for **RSS Feed Design**

[2016-11-29 22:02] alan-null opened #224 "Missing reporting items in WeBlog 8.2 package"
### Steps to Reproduce the Problem
  1. Install Sitecore 8.2
  1. Install WeBlog for Sitecore 8.2 package
  1. Create new blog
  1. Open Blog/Entry in experience editor

### Expected Behavior
no errors

### Actual Behavior
`There is no item with ID 9BECF823-2838-467C-87A7-3664524F5AFE`

![image](https://cloud.githubusercontent.com/assets/6848691/20730771/9d53a1b0-b687-11e6-912f-7e7cc3d1184d.png)

[2016-11-29 22:05] alan-null opened #225 "Problem with jQuery in normal mode"
### Steps to Reproduce the Problem
  1. Install Sitecore
  1. Install WeBlog 3.0 package
  1. Create MVC blog
  1. Publish database
  1, Open blog in normal mode

### Actual Behavior
* Errors in console
`archive.js:1 Uncaught ReferenceError: jQuery is not defined(…)`
![image](https://cloud.githubusercontent.com/assets/6848691/20730903/4090dc30-b688-11e6-919b-be71e87a1501.png)
* Archive rendering d

[2016-11-30 18:55] #225 closed

[2016-12-08 14:44] BEPTEP commented on #224
Where can I find WeBlog for Sitecore 8.2 ?

[2016-12-08 15:19] alan-null commented on #224
Hello @BEPTEP,
It was not released yet, we are currently at the final phase before release.

Once we release it you will find packages here:

* **Marketplace:**
https://marketplace.sitecore.net/Modules/W/WeBlog.aspx?sc_lang=en
* **Github repository:**
https://github.com/WeTeam/WeBlog/releases

[2016-12-08 15:51] BEPTEP commented on #224
Alan, thank you for the prompt response! Any ETA?

[2016-12-08 16:13] #214 closed

[2016-12-08 16:14] #223 closed

[2016-12-08 16:14] #220 closed

[2016-12-08 16:19] alan-null commented on #224
We are currently testing release packages and everything looks promising.
We need to close all these issues:
https://github.com/WeTeam/WeBlog/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22release+3.0%22
before the release. Cannot say anything more

[2016-12-12 21:16] BEPTEP commented on #224
Alan, may I offer you a hand to facilitate the release?

[2016-12-13 08:45] alan-null commented on #224
@BEPTEP Thank you. We have only one issue to solve.
If you want you can always create your dev instance (using `develop` branch) and test it if you want.

[2016-12-20 00:20] alan-null opened #227 "Wordpress import. Error while importing comments"
### Steps to Reproduce the Problem
  1. Open Wordpress import wizard
  1. Select attached file
  1. Import

### Expected Behavior
Blog successfully imported without any issues.

### Actual Behavior
Error during importing one of the comments.

### Additional info
Special words/characters present in a path for a fast query should be escaped.

You can verify this here: `http://domain/sitecore/shell/d

[2016-12-20 00:53] alan-null opened #229 "Lack of name validation for NewEntry, NewCategory EE ribbon commands"
### Steps to Reproduce the Problem
  1. Open EE
  1. Click `New Entry`/`New Category` button
  1. Try two scenarios
      * Do not type anything, leave input empty
      * Type some forbidden characters

### Expected Behavior
You should see validation message if you type incorrect characters.

### Actual Behavior
* if you pass empty value you will see error message (server error)
* no validation.

[2016-12-22 12:42] adeneys commented on #224
Added the report query items to the package

[2016-12-22 12:42] #224 closed

[2016-12-22 12:42] adeneys commented on #229
Merged

[2016-12-22 12:42] #229 closed

[2016-12-22 12:43] adeneys commented on #227
Merged

[2016-12-22 12:43] #227 closed

[2016-12-22 12:43] adeneys commented on #213
Package updated

[2016-12-22 12:43] #213 closed

[2016-12-22 12:43] #12 closed

[2017-01-15 12:33] jelaydi opened #231 "submitting a comment on CD server"
Hello,

I have upgraded weblog module to 3.0 for sitecore 8.2 initial release. I have a content authoring and content delivery environments. If I submit a comment from the CM server, it works just fine and adds the comment to the entry. However if I submit the comment from the CD server, it gives me the following error and doesn't submit the comment:

Server Error in '/' Application.

Object refer

[2017-01-15 23:21] adeneys commented on #231
Hi Jelaydi,
Are there any additional details provided in the Sitecore log file? The above message just indicates there was an issue with the WCF components, so the likely cause is misconfiguration for your environment.

Can you also describe the topology of your network? Are the CM and CD servers on the same network or different networks?

[2017-01-16 12:07] jelaydi commented on #231
Hello,

well this is what i found in the log file ::
8296 06:43:00 ERROR Application error.
Exception: System.Web.HttpUnhandledException
Message: Exception of type 'System.Web.HttpUnhandledException' was thrown.
Source: System.Web
   at System.Web.UI.Page.HandleError(Exception e)
   at System.Web.UI.Page.ProcessRequestMain(Boolean includeStagesBeforeAsyncPoint, Boolean includeStagesAfterAsyncPoint

[2017-01-30 21:20] alan-null opened #232 "WP Import - no validation for empty file"
### Steps to Reproduce the Problem
  1.  Install WB on SC 7.2
  1. Open import dialog
  1. Leave `Filename` field empty

### Expected Behavior
Graceful fail or inform user that he need to provide valid file

### Actual Behavior
I am able to leave field empty, thus import will fail.
![image](https://cloud.githubusercontent.com/assets/6848691/22441952/bf482e0c-e739-11e6-90de-8c01529a92f7.png)

[code

[2017-02-02 12:09] jaideep-charan opened #233 "How to upgrade weblog for sitecore 8.2"
I have upgrade my sitecore site from 8.0 to 8.2 now i want to upgrade weblog.

[2017-02-05 22:04] adeneys commented on #233
We're still in the process of getting the 7.x packages for WeBlog 3.0 done, and then we'll be moving onto an upgrade guide. Given this release made quite a few breaking changes this guide will be a necessity.

[2017-02-07 02:59] PavanOS commented on #172
If anyone wants SOLR configuration I did it and indexing worked for me. Shared the changed configuration, please download the attached file and remove .TXT extension
[WeBlog.ContentSearch.config.txt](https://github.com/WeTeam/WeBlog/files/756475/WeBlog.ContentSearch.config.txt)

[2017-02-09 03:13] PavanOS opened #234 "Missing fields in WeBlog 3.0 package"
We are starting fresh with WeBlog (never used it before)
We downloaded WebBlog 3.0 and installed it on our Sitecore 8.2 instance
We noticed some things are not working, blog entry page body was empty , categories & tags were not working. Upon digging intro code and packages I found the following custom fields on BlogEntryItem template were missing.

CustomCheckboxField - "Disable Comments"
CustomD

[2017-02-09 07:41] alan-null commented on #234
Hello @PavanOS,

Are you sure that you have used appropriate templates/branches?

During installation, we provide following details

[code]

In order to create a new blog please use following branches:
* WebForms `/sitecore/templates/Branches/Modules/WeBlog/Blog WebForms`
* MVC `/sitecore/templates/Branches/Modules/WeBlog/Blog MVC`

[2017-02-09 15:12] PavanOS commented on #234
Yes I did you the suggested templates that created BlogHome , BlogEntries & categories etc.,
Then I created Blog Entry item by right clicking on blog home, that item is missing fields.
The fields are missing in the template itself. I do see those fields in you package under
WeBlog-3.0.0_sc8.2.zip\package.zip\items\master\sitecore\templates\Modules\WeBlog\Base\BlogEntry

But I think the package is

[2017-02-09 19:22] alan-null commented on #234
@PavanOS

Not really. You are right, we have an additional abstraction in our code (for example: `Sitecore.Modules.WeBlog.Data.Fields.CustomTextField`
but this is something different from field types definition in Sitecore.

You can see that in facts all WeBlog fields use default Sitecore field types
[Title field of BlogEntry template (Single-Line Text)](https://github.com/WeTeam/WeBlog/blob/maste

[2017-02-09 21:26] PavanOS commented on #234
I downloaded again and reinstalled, I did not see any errors. I did see above mentioned fields getting installed in the log. So that is not issue , but found a different issue. The above list of fields is defined on
/sitecore/templates/Modules/WeBlog/BlogEntry  , which is configured as insert option on WebForms BlogHome item. So WebForms version should work as expected I am yet to test.

Where as

[2017-02-09 23:28] PavanOS opened #235 "Post list for a category is not working with Solr indexes"
I am using WeBlog 3.0 on Sitecore 8.2, I created blog using WebForms branch template. And those items made it to the solr indexes fine. When I click on category link, category page loads fine , but it was not showing the posts list tagged with that category.

I found this error in search logs.
[code]

I noticed that solr fields are created with field type suffix , in this case category field on so

[2017-02-10 07:39] alan-null commented on #235
We do not provide official Solr configuration yet.
Solr is on our to-do list (#172).

[2017-02-10 07:50] alan-null commented on #234
/sitecore/templates/Modules/WeBlog/BlogEntry

The current release package doesn't contain an item with that path.
Your templates should look like this
![image](https://cloud.githubusercontent.com/assets/6848691/22818390/4635678c-ef6d-11e6-9f8f-20c79b12d5f6.png)

Let's try something:
Could you search for following items by ID:
* `{BE9675B1-4951-4E11-B935-A698227B6A97}`
* `{857FD02F-D166-42CC-944B-C

[2017-02-10 18:37] PavanOS commented on #234
No I have not installed any other module , I did first install WeBlog from market place , the I realized it is not compatible with Sitecore 8.2 and went ahead and manually cleanup the items installed by that older package. After that I downloaded WeBlog 3.0 from guthub and installed it with Merge-Merge option for items.

That may have messed up these fields parent item. I re-installed the package

[2017-02-10 18:39] PavanOS commented on #235
Any idea of possible date, so that we can decide to wait or look for alternatives

[2017-02-10 19:56] alan-null commented on #235
I cannot promise anything. Current release is still in progress as we did not release WeBlog 3.0 for Sitecore 7.X

[2017-02-10 19:56] #234 closed

[2017-02-18 13:17] SMRaxa commented on #172
Hi Pavan,
I used your configuration file to switch to Solr but its not working, Its not indexing the contents of blog and Blog posts are not displaying, I checked all configurations and everything seems fine but I don't know where I made mistake and its not showing up. I am using WeBlog 3.0 and Sitecore 8.2 XP. Sitecore search with Solr is working fine, can you please let me know how can I trouble

[2017-02-18 13:22] SMRaxa commented on #172
Please find below the config files converted to Solr search.

[WeBlog.config.zip](https://github.com/WeTeam/WeBlog/files/785042/WeBlog.config.zip)

[2017-02-20 22:16] somaraghuveer opened #236 "Blog Entry doesn't show up in Experience Editor/Preview"
The issue I am facing is, a newly created Bucketable Blog Entry, does not show up in the Page Editor or Preview mode.  I am using EntryManager.GetBlogEntries(ID blogID, Database database, int maxNumber).
Examining the Index Statistics on the Index Manager, I noticed varying Document Counts in the below scenarios, which makes me think of a possible **BUG** in the Blog Entry item creation process of

[2017-02-20 22:29] somaraghuveer opened #237 "creating a new Blog Entry item, Unchecks the Bucketable checkbox on the Entry Item"
When I try to create a new Blog Entry item, a pop -up asks me to enter the name of the Item > Click OK. Another dialog pop-up asking Do you want to save the changes to the item? with options Yes No Cancel. When I say Yes, it Unchecks the Bucketable checkbox on the new Blog Entry item.
When I say No, it keeps the Bucketable checkbox as mentioned in my Standard Values of the template.

1. Why does t

[2017-02-20 22:31] alan-null commented on #236
Hi @somaraghuveer
Currently, supported version is [3.0](https://github.com/WeTeam/WeBlog/releases/tag/release%2F3.0)
As WeBlog utilize search indexes to serve content, indexes have to be rebuilt everytime new entry is added.

[2017-03-10 21:02] #171 closed

[2017-03-17 00:19] estebanCapello opened #240 "Could not find configuration node: reporting/dataProvider on CD"
After upgrading weblog for sitecore8.2 into a CD - CM environment ( same network ). For the CD server  I activated the weBlog.delivery.config and deactivated the following files:
- WeBlog.config
- WeBlog.ContentSearch.Master.config

But I'm when trying to access into my main blog display page i get the following:

`Could not find configuration node: reporting/dataProvider`
`[InvalidOperationExcept

[2017-03-17 08:46] alan-null commented on #240
Hello @estebanCapello,

Where did you find such information?
The package readme file says:

server, enable the App_Config\Include\WeBlog.delivery.config
file.

The error says that it cannot find following configuration node `reporting/dataProvider`.
Could you validate that you can find following config file `Sitecore.Analytics.Reporting.config` or check merged configuration
![image](https://cloud.

[2017-03-17 20:18] alan-null commented on #240
**TLDR:** Make sure that your server has direct access to the reporting server or issues queries against a remote reporting service:

------

Ok, let's get back to issue with rendering **InterestingEntries** component.

This is a component which uses reporting db to fetch analytics data.
After you disabled `Sitecore.Analytics.Reporting.config` config file (according to Sitecore CD recommendation d

[2017-03-17 21:13] estebanCapello commented on #240
Thanks a lot for the quick help !!!

At the end I followed your first suggestion. Currently I'm not using InterestingEntries so I deleted it from the presentation details and it worked !

[2017-03-17 21:13] #240 closed

[2017-03-18 10:05] alan-null commented on #237
Hello @somaraghuveer,

Sorry for late response. Nothing that you described should ever happen.
I installed fresh instance for Sitecore 8.2 yesterday and I couldn't reproduce your issue.

To fully understand what could be the reason of your issues, could you please provide detailed steps to reproduce?

* Which Sitecore version are you using (revision number would be helpful)
* Which version of WeBl

[2017-03-18 10:06] #236 closed

[2017-03-18 10:10] alan-null commented on #222
Hello @allanChacon,

We have released [3.1](https://github.com/WeTeam/WeBlog/releases/tag/release/3.1) some time ago.
If you encounter any issue with the most recent code please raise a new issue.

[2017-03-18 10:10] #222 closed

[2017-03-18 10:12] alan-null commented on #175
Closed due to lack of activity.

[2017-03-18 10:12] #175 closed

[2017-03-18 10:24] alan-null commented on #177
Most recent version of the WeBlog was tested and I haven't encountered anything like that.

[2017-03-18 10:24] #177 closed

[2017-03-18 16:55] somaraghuveer commented on #237
Thank you for your response.
Sitecore 8.1 update 2
WeBlog 2.5 i believe.
It was not a clean install, it was an update to the (wrong version) installed.
modules like WFFM , AD module, Sharepoint and CRM connectors installed.
We have not modified any default.

I believe there is no support for WeBlog 2.5. Hence closing.

[2017-03-18 16:55] #237 closed

[2017-03-21 20:39] ECYR-TG opened #241 "WeBlog entries prompting a save action immediately upon creation"
We're having an issue after a fairly extensive sitecore upgrade (including weblog versions) when creating a new blog entry. Right after clicking the blog item, creating a new entry, and naming it, a Sitecore save confirmation window will appear. This would be only a slight nuisance, but if you accept the save it clears out the bucketable settings of the item which gives an error and confuses our c

[2017-03-21 21:16] alan-null commented on #241
Which install options have you used during installation? **Overwrite** should do the job. Perhaps you used **Merge** and there are some integration issues.

If this not the case please provide complete steps to reproduce/as many details that could help us to reproduce this issue and provide solution.
* old Sitecore version
* new Sitecore version
* old WeBlog version
* new WeBlog version
* order of

[2017-03-28 04:21] hptbee commented on #172
Anyone fixed this issue ?

[2017-03-30 13:02] PavanOS commented on #172
I did debug this issue a while ago , looks like the Solr query being sent by weblog code has issue, so it is not working even configs are right. So waiting for code fix.

[2017-03-30 14:40] SMRaxa commented on #172
Yes, you are right. I also debugged it and got the same issue, so I copied the code of weblog and updated all of its queries into my solution.

[2017-03-31 02:23] PavanOS commented on #172
SMRaxa, that's awesome. Can you please share the weblog code that you changed. You can email it to me at pavanomtri@yahoo.com

[2017-03-31 06:58] hptbee commented on #172
I had change config, and solr can work in admin site.
But on page Blog in user site error.
Inner Exception: Value cannot be null. Parameter name: fieldNameTranslator.

@SMRaxa Can you share it here? Thanks you very much.

[2017-04-01 10:33] SMRaxa commented on #172
I copied the GetBlogEnteries method from WeBlog solution and added it into my solution and updated it as below. I created my own controller/action which calls this method to fetch blog entries and then render the view.

`public IEnumerable<EntryItem> GetBlogEntries(string tag, string category, int maxNumber = MaxPosts, DateTime? minimumDate = null, DateTime? maximumDate = null)
        {

[2017-04-03 18:52] gadgetman110 opened #242 "Disappearing Blogs"
We have been seeing an intermediate issue with Blogs when Publishing in Sitecore 8.1.  Sometimes when an Author publishes a new Blog, all the Blogs on the list page "disappear".  Doing a Republish does not seem to help.  We have been having to switch the Layout, Publish, then switch the Layout back to what it was and Publish again to get the Blogs "back".  We have been having this occur for 2 week

[2017-04-03 19:09] alan-null commented on #242
Hi @gadgetman110,

If this is not a problem you can try to disable caching for this component and give a little bit of time to show whether caching is an issue in this case.

[2017-04-06 13:03] gadgetman110 commented on #242
Thank you for the reply.  Where do I disable caching for this component?

________________________________
From: Alan Płócieniak <notifications@github.com>
Sent: Monday, April 3, 2017 3:09 PM
To: WeTeam/WeBlog
Cc: Steven Dee; Mention
Subject: Re: [WeTeam/WeBlog] Disappearing Blogs (#242)

Hi @gadgetman110<https://github.com/gadgetman110>,

If this is not a problem you can try to disable caching fo

[2017-04-06 14:10] gadgetman110 commented on #242
I checked all the controls (sub layouts) for this and nothing is marked as chacheable.  Were you meaning something else?

[2017-04-06 14:43] gadgetman110 commented on #242
Hello.  Here is some more data that may help.  We have been using WeBlog for quite some time and with earlier versions of Sitecore.  Buckets did not exist.  When we upgraded to Sitecore 8.1 WeBlog "broke" and we had to upgrade WeBlog as well.  We DO notice that we see this message in Sitecore.  Unbucketable Item stored in an Item Bucket
This item is stored in an item bucket. However, it is not hid

[2017-04-06 17:04] alan-null commented on #242
@gadgetman110

### Caching
Caching settings are stored in several places in Sitecore, take a look here:
![image](https://cloud.githubusercontent.com/assets/6848691/24765810/84ccad86-1af9-11e7-9ea3-27c4fccc6b47.png)

mvc rendering: `/sitecore/layout/Renderings/WeBlog/MVC/PostList`
web forms sublayout: `/sitecore/layout/Sublayouts/WeBlog/PostList`

### Buckets
Regarding buckets options. I imagine th

[2017-04-07 17:30] gadgetman110 commented on #242
Here are some details.  We were on sitecore 6.6 then sitecore 7 then sitecore 8 with weBlog version 2.3.
We are now on sitecore 8.1 and upgraded to 3.0 weBlog.

[2017-04-08 17:30] alan-null commented on #242
@gadgetman110

I've created a content with WeBlog 2.4 for sc 7.0, then installed it on
the fresh instance with Sitecore 8.1 + WeBlog 3.1.

There are few manual steps, but everything else works fine.

### Categories item
![image](https://cloud.githubusercontent.com/assets/6848691/24830966/7d0f3166-1c90-11e7-8609-dc907fb1cca8.png)

### Posts

![image](https://cloud.githubusercontent.com/assets/68486

[2017-04-10 12:41] DLN-India opened #243 "broken links in Sites Running on WeBlog"
http://blog.redarrowsoftware.com/ seems broken

[2017-04-10 12:45] DLN-India commented on #243
https://www.magenium.com/techblog has to be updated to
https://www.magenium.com/Information/Articles

Although its uncertain whether they're still running sitecore

[2017-04-10 13:04] alan-null commented on #243
@DLN-India Thank you for reporting. I will review the rest and remove obsolete links.

[2017-04-10 14:40] #243 closed

[2017-04-17 13:11] gadgetman110 commented on #242
Thank you for the response.  Unfortunately (although I'm going to try your suggestions on my local, dev instance) we cannot change our blogs to buckets at this time in production as there are quite a lot and this would change the url's.

We HAVE managed to find a way to reproduce the issue though!

We have a lot of blogs on the blog listing page and have several different language versions.  If yo

[2017-04-17 13:11] gadgetman110 commented on #242
At first we suspected the index getting corrupted, however, we can do a WeBlog reindex right after this issue occurs and it does not help.

[2017-04-18 19:51] adeneys commented on #242
How do you rebuild the WeBlog index? Do you use the utility in the control panel? This utility is for the older Sitecore Lucene search which was used before Content Search. This would be there if you upgraded from an older WeBlog version but won't rebuild the content search index used by WeBlog.

[2017-04-19 10:14] gadgetman110 commented on #242
Hello.  Yes, that is exactly how we reindex it.  We used the utility.  So how should we do this and if this is the issue, how did the index get corrupt?

Thanks!

________________________________
From: Alistair Deneys <notifications@github.com>
Sent: Tuesday, April 18, 2017 3:51 PM
To: WeTeam/WeBlog
Cc: Steven Dee; Mention
Subject: Re: [WeTeam/WeBlog] Disappearing Blogs (#242)

How do you rebuild

[2017-04-21 12:56] JanVorster commented on #235
Is there any version of WeBlog that is compatible with a Sitecore 8.1 instance running with Solr?

[2017-04-21 15:26] alan-null commented on #235
@JanVorster
Solr is not yet supported.

[2017-04-22 06:39] adeneys commented on #242
WeBlog now only uses Content Search, so use the indexing manager to rebuild the WeBlog indexes. I'm not sure how the indexes would become corrupt. It may be a race condition between indexing and caching.

[2017-04-22 12:59] gadgetman110 commented on #242
We had a session with Sitecore yesterday and they definitely pointed the finger at the issue being with WeBlog.  Is there anything you guys can do to help?

________________________________
From: Alistair Deneys <notifications@github.com>
Sent: Saturday, April 22, 2017 2:39 AM
To: WeTeam/WeBlog
Cc: Steven Dee; Mention
Subject: Re: [WeTeam/WeBlog] Disappearing Blogs (#242)

WeBlog now only uses Con

[2017-04-26 06:26] adeneys commented on #242
As I mentioned, I suspect this is the classic race condition between rendering caching and indexing that we often saw in older versions of Sitecore and WeBlog. Especially if you updated from an older version (which you did), then the configuration might not be updated to counter this issue.

Disable all caching as Alan suggested above, then rebuild the WeBlog indexes using the Indexing Manager (Co

[2017-04-28 04:52] Wobin opened #244 "Timezones"
I've just recently ported a Weblog from 7.2 to 8.2 and one thing I've noted is that entry dates are saved as UTC, and then rendered without a timezone applied. I'm unsure if this is a setting I'll have to adjust in Sitecore generally, or something specific to Weblog.

EG: an entry saved as 12am 1st Feb 2017 (AEST), is being stored as 1pm 31st Jan 2017. Then rendered on page as being in January (an

[2017-04-28 15:54] sergeizak opened #245 "content delivery configurations"
Hi, I am trying to install Weblog 2.3 on Sitecore.NET 7.2 (rev. 151021). All is fine in CM. But in CD, I am getting "Could not find configuration node: databases/database[@id='master']" error when I navigate to blog item or when I go to Indexing Manager to build weblog search index. CD is not aware of master database. Everything was published to CD which is a copy of CM minus master database. Can

[2017-05-05 15:46] AyushmatiVelir commented on #172
We need to change the Solr core names to remove capital casing i.e. use 'weblog-master' instead of 'WeBlog-master'.
This is because solr stores the _indexname field value(which is added in the query filter) as lowercase and solr querying is case sensitive(so the field value and index names don't match up in case of camel casing)

[2017-05-09 21:49] Triturnal opened #246 "Comments not sorting by date + time"
In Sitecore 7.2 the comments are being sorted out of order.  We are seeing:

2017.04.20 05:00
2017.04.20 18:00
2017.04.20 08:00
2017.04.20 11:00

While the date is always correct, the times appear to be out of order and we have users complaining.  Is there something I have overlooked?

[2017-05-26 16:10] Triturnal commented on #246
Problem turned out to be in the function "GetCommentsFor".  The sorting occurs on CommentResultItem instead of CommentItem.  In our case this causes the times to be displayed incorrectly.  So right after:

result = items.Select(x => new CommentItem(x)).ToList();

We added:

result = result.OrderByDescending(o => o.Created).ToList();

Which gave us the desired sorting for our purposes.  All of this

[2017-05-26 16:10] #246 closed

[2017-06-12 16:43] nagireddyt opened #247 "Bucket revert issue"
Hi,

While upgrading Sitecore project from 7.2 to 8.2 version, having an issue after upgrading weblog module. For any Bucket items in the project,  if I click on Revert all the bucketable items are deleting instead of showing content tree structure and those items are deleted permanently.
Raised a Sitecore support ticket for the same, Sitecore team verified and said this issue is caused by weblog

[2017-06-12 17:33] alan-null commented on #247
Hi @nagireddyt

Could you please provide detailed steps to reproduce the issue?

[2017-06-12 20:21] nagireddyt commented on #247
Thanks Alan, for a quick response.

I created a sample to reproduce the issue.
[BucketRevertIssue.zip](https://github.com/WeTeam/WeBlog/files/1069405/BucketRevertIssue.zip)
Install attached package in  Sitecore 8.2 - Update 2 version. It will create below-mentioned items
1. Under Sitecore/Templates -it will Create PlansBucket & PlansBucketable templates
2. Under Sitecore/Content -PlansBuck/PlansBu

[2017-06-12 21:50] alan-null commented on #247
Hey @nagireddyt

Please find attached file
[Sitecore.Modules.WeBlog.Support247-1.0.zip](https://github.com/WeTeam/WeBlog/files/1069663/Sitecore.Modules.WeBlog.Support247-1.0.zip)

This is standard Sitecore package. It contains following files inside:
- `files\App_Config\Include\WeBlog.Support247.config`
- `files\bin\Sitecore.Modules.WeBlog.Support247.dll`

Once you install it your problem should b

[2017-06-16 06:54] varitw commented on #172
To fix the category issue, you need to add the following fieldmap into WeBlog.ContentSearch.config

<fieldType fieldName="category" returnType="guidCollection"/>

[2017-06-17 20:54] nagireddyt commented on #247
Thank you very much Alan :) it worked

[2017-06-26 20:21] ufpian opened #248 "3.1.0 Custom Templates and Weblog.Custom.config"
Having recently updated to 3.1.0, we've found our custom configuration breaks aspects of our sites, such as properly inserting new entries based on custom templates.  Could you provide an updated custom config to allow the usage of these templates, or advise on how to incorporate these custom templates back into our sites?

[2017-06-28 22:24] nagireddyt commented on #247
Hi Alan,

We got another issue after including this fix files.
[Blog_Issue.zip](https://github.com/WeTeam/WeBlog/files/1110386/Blog_Issue.zip)

Install attached package in sitecore 8.2 and update 'Entry Date' field under /sitecore/content/New Folder/2017/April/New Entry date to June (For ex : 28-April-2017 to 21-June-2017 ) then new folder with name 'June' will be created in the existing Weblog co

[2017-07-05 17:23] teggis commented on #172
After switching 'weblog-web' instead of 'WeBlog-web' I am now getting the error Index WeBlog-web was not found.  I cannot find where this is trying to call WeBlog-web.  Any Ideas where to search or anyone else having this problem

[2017-07-05 17:57] AyushmatiVelir commented on #172
Please update the index name in WeBlog.ContentSearch.Web.config.
ex: <index id="weblog-web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">

[2017-07-05 19:28] teggis commented on #172
Yes I had already done that see below
id="weblog-web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider"
I just cant find where it is calling the index by the capital case.

[2017-07-05 21:31] varitw commented on #172
In WeBlog.config and WeBlog.delivery.config, there is a setting name
"WeBlog.SearchIndexName". You need to update the value to "weblog" (lower
case)

On Thu, Jul 6, 2017 at 5:28 AM, teggis <notifications@github.com> wrote:

[2017-07-06 00:36] teggis commented on #172
Thank you varitw that fixed the issue.

[2017-07-17 11:51] IvanSheyenko opened #249 "Duplicate key error when a blog entry item has more than 1 version"
1.	Create a blog
2.	Create a blog entry with at least 2 item versions
3.	Publish everything
4.	Visit created entry on a site
5.	Wait for session to expire
6.	Preview blog item from step 1

The following error is shown:
[code]

[2017-07-17 14:49] alan-null commented on #249
Issue solved here: #250

Thank you once again @IvanSheyenko for your contribution.

[2017-07-17 14:49] #249 closed

[2017-08-08 16:49] cv1998 opened #252 "WeBlog - fallback language"
Hi,
We are using Sitecore 8.1 rev. 160519 and WeBlog-3.1.0_sc8.0-8.1.zip

we have en-US language and the fallback language is en

The content is in en language
the web site use en-US language (so the url is /en-US/xxx)

We create a blogen in en language.

Looks like the blog index page with en-US (/en-US/test/blog/blogen/) is not working (missing list of entry, archive, etc.) (please see the scree

[2017-08-10 11:37] adeneys commented on #252
Hi @cv1998
This is not a supported configuration for WeBlog currently. WeBlog uses the language of the `Context.Item` item to perform the search for the items used to populate those controls.

[2017-08-15 15:46] cv1998 opened #253 "WordPress import issue"
Hi,
i'm using Sitecore 8.1 rev. 160519 and WeBlog-3.1.0_sc8.0-8.1.
when trying to import the xml file from WordPress, i got this error

Job started: Creating and importing blog
Reading import file
Creating blog
Importing posts
#Exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.FormatException: String was not recognized as

[2017-08-16 11:46] AshishRanjan31 commented on #62
Hi Team,
Can please any one provide me sitecore MVC pkg.
I downloaded sitecore pkg that belongs to webforms.
It's urgent i need this one.
Thanks in adv.

[2017-08-16 14:49] cv1998 commented on #253
Update.
I found an incorrect date format in the xml and removed it. I did not get that error any more.

Thanks

[2017-08-16 14:49] #253 closed

[2017-08-17 08:33] adeneys commented on #248
Could you please clarify your issue a little more? Is the issue that you're trying to use custom templates instead of the normal WeBlog templates, and after the upgrade your custom templates are no longer being used, the normal WeBlog templates are being used again?

[2017-08-17 11:25] adeneys commented on #245
That stack trace indicates you may be using the `syncMaster` update strategy in one of your content search indexes, which won't work as you state, because you don't have a master DB available on that server. If you're installing WeBlog 2.3, then that version didn't use ContentSearch, but used the older Sitecore.Search instead. So it's unlikely this issue is related to WeBlog.

[2017-08-17 11:27] adeneys commented on #244
Sitecore 8 started storing date fields as UTC. So the proper fix here would be to convert all your date field values over to UTC to correct the issue.

[2017-08-17 17:53] cv1998 opened #254 "Specify language on WordPress import"
Hi,
I noticed that when I do WordPress import, the items are created in en language.
Is that possible to choose language that we want to import to (e.g. en-us)?

Thanks

[2017-08-17 18:44] #252 closed

[2017-08-23 17:44] balajisoundar14 opened #255 "Issue on Content Delivery node"
Hi

We are facing below issue on content delivery nodes while loading the blog page.
"Could not find configuration node: contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster ".

We have SwithchMasterToWeb.config file enable to make the configuration setup for CD environments. Also we have tried by disabling WeBlog.ContentSearch.Master.config file, but no luck.

Could you please help

[2017-08-27 23:36] adeneys commented on #255
The only reference WeBlog has to the `syncMaster` strategy is in the file you mention above: `WeBlog.ContentSearch.Master.config`. If you've disabled that file and restarted the app to ensure the new config has been picked up, then it's likely you have something else referencing that sync strategy, such as one of your own content search indexes. Use the `/sitecore/admin/showconfig.aspx` utility an

[2017-08-27 23:37] adeneys commented on #254
Not at the moment, but nice suggestion.

In the meantime, I would suggest grabbing the WeBlog code and making the necessary changes  in the import code so you can target your language.

[2017-08-30 14:43] andyram2k opened #256 "Creating blog entry causes error 500"
Hi,

I've installed the package from: WeBlog-3.1.0_sc8.0-8.1.zip, onto my local development Sitecore 8.1 instance to expand and re-style.

The package has installed everything correctly as far as i can tell. I've published and built both indexes too. The issue comes when i click on the blog parent and then create "Entry" - it hangs and then causes error 500 and slows the instance down.

The "Loadi

[2017-09-04 23:22] adeneys commented on #256
Thanks for the info @andyram2k . Which revision of Sitecore are you using? I tested this on Sitecore 8.1 prior to release, without any issue (though I can't find which revision it was now; different computer which has since crashed).

Also, how have you determined the WeBlog event handler is causing the issue? I don't see any mention of a WeBlog namespace in the stack trace above. There's a possib

[2017-09-05 01:46] andyram2k commented on #256
Hi @adeneys, we're using Sitecore.NET 8.1 (rev. 151003). Through trial and error, i narrowed it down to this line in the config, and when removed, it stopped the bucket slow loading and allowed me to create a new bucket item without error. It could indeed be the DynamicBucketFolderPathSelector that is the issue.

Following on from first logging this issue and commenting out the line, i've managed

[2017-09-05 23:25] adeneys commented on #256
That first supplemental issue you mention sounds very odd. The Experience Editor was introduced in Sitecore 8.0 to replace the Page Editor from previous versions. This property (`Context.PageMode.IsExperienceEditorEditing`) exists in the kernel, so if you're getting errors that the property cannot be found, then your installation might not be the version you expect.

The second supplemental point

[2017-09-06 00:54] andyram2k commented on #256
I've downloaded the ILSpy and viewed the SitecoreKernel.dll file and it contains the following:

[assembly: AssemblyVersion("8.1.0.0")]
[assembly: Debuggable(DebuggableAttribute.DebuggingModes.IgnoreSymbolStoreSequencePoints)]
[assembly: AssemblyCompany("Sitecore Corporation")]
[assembly: AssemblyCopyright("© 1999 - 2015. All rights reserved. Sitecore is a registered trademark of Sitecore Corporat

[2017-09-13 10:24] andyram2k commented on #256
Hi @adeneys,
I'm hoping to have a trial working blog ready for the end of September. Do you think you may have any fixes for this time please? It's a great product and i really want to make it look as good as it can be, i just need the few issues working out to make it usable, especially when putting onto the live servers.

Thanks again, i really appreciate it.

Andy

[2017-09-17 23:44] adeneys commented on #256
Hi @andyram2k,
Looks like the `Method not found: 'Boolean PageMode.get_IsExperienceEditorEditing()'.` issue is related to that exact version of Sitecore 8.1. I setup both the 8.1 initial release (rev 151003) and update 3 (rev 160519) locally. On rev 151003 I also saw the same error you mentioned when viewing the entry page. However, this issue did not appear on rev 160519, so the APIs between thes

[2017-09-18 13:03] andyram2k commented on #256
Hi @adeneys, thank you - i appreciate everything you're doing.

I've amended the templates to work with our current setup, so the basics of the blog are now showing. Will look into the search issue and when i find out what might be causing it, will report back.

Best regards,

Andy

[2017-09-24 23:10] mukeshnikhil2000 opened #257 "Is subcategory supported in Sitecore after importing from wordpress xml file?"
Hi,

Wordpress blog is having category and subcategory and once we export, the exported xml file has child parent relationship. Once it is imported in Sitecore 8.2(from Weblog 3.1), blog is created and working fine.
But I can't see subcategories or any relationship between child and parent categories and also don't see any option to search by subcategory.
Has it been taken care of in Weblog or am

[2017-09-25 18:14] alan-null commented on #257
Hey @mukeshnikhil2000

Subcategories are not supported: https://github.com/WeTeam/WeBlog/issues/50.
WeBlog does not provide an ability to manage subcategories.

WeBlog flattens categories during import.
It does not rely on the category structure but what is assigned to a post (category name), after importer gets a category name it tries to create a new category or get existing, so information abou

[2017-09-29 22:38] teggis commented on #172
Is anyone have the issue with the tag cloud not returning posts when there is a multiple word tag?  It works in Lucene just find but with Solr it does not work.  Example is: "working today".  With solr click on "working today" returns nothing but Lucene brings backs post with this tag.  In Solr if you search by one or the other words "working" or "today" it returns posts. Any help will be apprecia

[2017-10-02 15:51] teggis opened #258 "Tags (Multi Word) not working in Solr but working in Lucene"
Is anyone have the issue with the tag cloud not returning posts when there is a multiple word tag? It works in Lucene just fine but with Solr it does not work. Example is: "working today". With Solr click on "working today" returns nothing but Lucene brings backs post's with this tag. In Solr if you search by one or the other word's "working" or "today" it returns posts. Any help will be appreciat

[2017-10-24 18:16] e-smith commented on #245
Just incase anyone runs into this issue again; the problem is that the package should not be installed on the CD servers. Only install the package on the CM server.

[2017-10-26 22:13] #257 closed

[2017-10-26 22:33] alan-null commented on #247
Following Sitecore version fixes all the problems.
**Sitecore.NET 8.2 (rev. 170728)
rev. date July 28, 2017**

I verified both packages using mentioned Sitecore version and the latest WeBlog release and everything work fine.

[2017-10-26 22:33] #247 closed

[2017-10-26 22:37] alan-null commented on #244
This might be helpful: [Sitecore 8 ServerTimeZone – my dates are all wrong](https://briancaos.wordpress.com/2015/04/16/sitecore-8-servertimezone-my-dates-are-all-wrong/)

[2017-10-26 22:37] #244 closed

[2017-10-26 22:38] #242 closed

[2017-10-26 23:03] #176 closed

[2017-10-30 11:41] #183 closed

[2017-10-30 11:44] alan-null commented on #258
Hey @teggis
Solr support is on our to-do list: #172

[2017-10-30 12:18] #232 closed

[2017-10-30 12:18] #4 closed

[2017-10-30 12:19] #6 closed

[2017-10-30 12:19] #254 closed

[2017-11-01 22:18] andyram2k commented on #256
Hi @adeneys, do you think you'll be able to create the fixes soon please?

I've tried building the github files against our sitecore version mvc instance to try and update dll files, but ended up with quite a few errors when building, such as sitecore.data not being found, for example. Whether I'm not doing this right, I'm not sure.

As I mentioned, I've got the majority of functionality working,

[2017-11-02 07:11] ambarishsv opened #262 "Trying to use custom Templates"
I am trying to use my own templates inheriting Weblog templates. I tried following the wiki but it seems to be outdated. I did the following:
1) Used alternated template field to update my template Ids
2) Followed the patching instructions ( seems to be outdated as the patched result says the section is outdated)
Does some one know how to do it in Weblog 3.1?

[2017-11-03 18:32] ambarishsv commented on #262
I figured that out. For those who come here:

I had to patch the new template id's into weblog.contentsearch.config instead of what is giving in the old instructions.
<BlogEntry-WebForms>{5FA92FF4-4AC2-48E2-92EB-E1E4914677B0}</BlogEntry-WebForms>
<BlogEntry-MVC>{BE9675B1-4951-4E11-B935-A698227B6A97}</BlogEntry-MVC>
<BlogComment>{70949D4E-35D8-4581-A7A2-52928AA119D5}</BlogComment>
<MyEntry>{templat

[2017-11-03 18:32] #262 closed

[2017-11-06 20:09] alan-null commented on #62
@AshishRanjan31
Starting from [3.0](https://github.com/WeTeam/WeBlog/releases/tag/release%2F3.0), WeBlog  supports MVC

Please, make sure you download the most recent version:
https://github.com/WeTeam/WeBlog/releases

[2017-11-09 03:24] andyram2k commented on #256
Hi @adeneys ,

I've made quite a bit of progress with getting the blog working with our 8.1 Sitecore:

1) I've removed the interesting entries, as this causes an error due to the incorrect isediting boolean, and from what i can tell, Sitecore is planning on replacing Mongo with SQL in Azure in V9.
2) I've amended the boolean in .cshtml files to be "Sitecore.Context.PageMode.IsPageEditorEditing" in

[2017-11-09 03:27] andyram2k commented on #253
Hi @cv1998 , i'm having the same issue - which date format was wrong please? I'm struggling to work out why the import fails, and there's lots of entries in the XML i'm trying to import.

Many thanks,

Andy

[2017-11-09 17:45] AyushmatiVelir commented on #235
I am getting the same issue and on checking the logs I see "undefined field category"

[2017-11-10 08:51] alan-null commented on #253
Hi @andyram2k,

Unfortunately, it is impossible right now to see which part of XML has an incorrect date.
I will add a task to our backlog to address this issue.

For now, I can suggest following solutions:
- split your XML into half, try to import, see if error occur in first half, if not then incorrect date is in second, repeat until you get incorrect date (time consuming)
- if you are not afrai

[2017-11-10 08:52] alan-null opened #263 "WordPress import - log errors"
As a user, I want to be able to see if there are incorrect values in my XML and get exact location where they are and how I could fix them.

Inspiration: #253

[2017-11-19 15:59] andyram2k commented on #256
Hi @adeneys,

I've managed to build against our version of sitecore, so can now make amends to replace the boolean. Will report back with any other 8.1 specifics that I come across.

Many thanks,

Andy

[2017-11-19 15:59] #256 closed

[2017-11-19 16:03] andyram2k opened #264 "archive months as pages with lists of posts made in that month"
Hi,

I've been looking at some of the example sites using weblog, and a few of them have their archive months as pages, that when you click on them then display entries from that month.

Is this included in weblog and I've missed a setting or is there a simple way to create this from bucket folder items?

Thanks,

Andy

[2017-11-19 16:41] alan-null commented on #264
Hi @andyram2k

You are right, some sites have that feature but it doesn't look like they are running WeBlog
List of sites might be outdated as we do not update it actively.

API is able to return items by month and year
https://github.com/WeTeam/WeBlog/blob/master/src/Sitecore.Modules.WeBlog/Managers/EntryManager.cs#L240
but current implementation of `PostList ` is unable to display items in a way

[2017-11-19 17:09] andyram2k commented on #264
Hi Alan,

Do you know how they've been able to treat bucket folders as pages? Or do you think they've created them as pages?

Thanks,

Andy

[2017-11-19 17:26] alan-null commented on #264
We don't know what they have in their database, if they are not using WeBlog it can be a normal page.
By the way, I've never tried that but you could assign a layout to a bucket grouping item and see what will happen.

In the past, we were using NewsMover in WeBlog to manage year/month folder structure. Back then it was easier to change configuration and change the type of folder so you could use

[2017-11-19 19:11] andyram2k commented on #264
Hi Alan,

In the current api, is it possible to do text search on blog entries for the current blog you're in? Also, is it possible to get the number of entries in a category to display next to this? I could add these as separate issues if needed, but didn't want to fill up an issue log with just questions.

Thanks,

Andy

[2017-11-19 19:20] alan-null commented on #264
1. Search - not implemented yet
#10 Blog Search

2. Categories - case not supported with the current implementation

[2017-12-21 23:15] pvaartstra opened #265 "Threaded Comments"
This is a feature request for threaded comments...

The user should be able to reply to an existing comment (not just add new).  These should be displayed as nested below the original comment.
All authors involved in the thread should have the option of email notification when somebody replies.

[2018-01-16 12:33] dbibby opened #266 "Category creation issue"
We are in the process of updating our Sitecore version to version 8.2
I am assigned the task of updating our current WeBlog (WeBlog-2.4.0) installation to run with Sitecore version 8.2. I have installed WeBlog-3.1.0.
Using the Sample blog, when trying to create a new category in the categories folder, the new category is created outside of the selected folder in the root of the blog.
Am I missing

[2018-01-16 12:48] dbibby commented on #266
Update to the previous post.  So when creating a new category the steps were as follows:
- Select the Categories folder
- Right mouse
- Select insert from Category insert option
- Name the Category and the new category is created outside of the Categories folder.
I have just tried another way to create a category by selecting "Insert from template" and choosing the category (Webforms) template.  T

[2018-01-25 17:18] ppabon57 opened #267 "The wiki document file is out dated since version 2.4"
I'm working on setting up a site using the 3.1 module but would like to have an updated documentation with your latest version 3.1, is this possible?

[2018-01-25 17:28] andyram2k commented on #94
Hi,

I'm trying to update to V2 of the Recaptcha plugin using the new code that it gives you, but i'm unsure what to change within WeBlog to get this working.

I've created the keys, added the <div class="g-recaptcha" data-sitekey="LongCharacterIDhere"></div> into the recaptcha.cshtml file, and whenever i try to post a comment, the form page does't submit and i just get the error:

The following f

[2018-01-28 21:09] adeneys commented on #267
I agree, the wiki is in need of revision. Have you found any articles in particular which appear to no longer be valid?

[2018-01-28 21:16] adeneys commented on #266
That sounds about right. WeBlog 3.0 introduced full MVC support, so we had to use different templates for WebForms and for MVC, to get the presentation right. When you created the sample blog, did you use the appropriate blog branch (Branches > Modules > Blog WebForms)? This branch is setup with all the correct templates and insert options.

[2018-01-29 02:28] ppabon57 commented on #267
Hi Alistair,

The steps for creating the blog was one but also the versions on the marketplace was outdated from what’s on Github but I managed to get what needed from GitHub however my plan was to use version 3.1 has this been QA is it stable enough for production use?

Sent from my iPhone

On Jan 28, 2018, at 4:09 PM, Alistair Deneys <notifications@github.com<mailto:notifications@github.com>> wr

[2018-01-29 21:53] adeneys commented on #267
Yes, version 3.1 has been tested and is expected to be production ready. Though keep in mind, this is an open source project and you use it at your own risk :).

Thanks for providing the above page and info on the Marketplace. I'll look to get those updated.

[2018-01-30 23:10] ppabon57 commented on #267
Hey Alistair,

Just to confirm this module will run with SC 8.1 Update 1 right?
because I didn't see that option on the config settings

[2018-02-02 22:27] ppabon57 opened #268 "Inherited build config setting issues"
The inherited build configurations doesn't apply the settings properly, the target frame work 4.5.2 just gets defaulted to 4.5, it would work fine if the condition was an equal to "Debug sc8.2" instead of using Contains, but then you would have to place the DEBUG;TRACE; constants within the same config setting

&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;Project xmlns="http://schemas.microsof

[2018-02-04 02:02] ppabon57 commented on #268
Alistair,

I noticed you have a lot of transformation files using xslt.....
If I needed to for example use the WeBlog.config
would I need to just rename the WeBlog.config.delivery.xslt to WeBlog.config.xslt ?

[2018-02-06 04:45] adeneys commented on #267
Yes, it will run on Sitecore 8.1 update 1. Historically we've tried to keep the number of build configurations as low as possible. For 8.1 you should be able to use the sc8.0 config. Let me know if you run into any specific issues.

[2018-02-06 04:55] adeneys commented on #268
I haven't had any issue with the `Contains` condition in MSBuild, but VS might not report the settings properly. Make sure you've got MSBuild verbosity set to at least "Normal" and check your build output. When I select build config `Debug sc8.2` I can see the target framework is 4.5.2.

The XSLTs are used to generate variations of the config for various targets, such as specific Sitecore versions

[2018-02-06 16:50] ppabon57 commented on #268
Interesting....

Would these build target settings work if this was automated in VSTS?

Sent from my iPhone

On Feb 5, 2018, at 11:55 PM, Alistair Deneys <notifications@github.com<mailto:notifications@github.com>> wrote:

I haven't had any issue with the Contains condition in MSBuild, but VS might not report the settings properly. Make sure you've got MSBuild verbosity set to at least "Normal" and

[2018-02-06 22:40] adeneys commented on #268
Should do. VSTS just runs MSBuild, so there shouldn't be any issue.

[2018-02-06 22:40] #268 closed

[2018-03-12 15:08] amir-begic commented on #241
Hi!

I've been encountering the same issue and I don't think it has to do anything with the upgrade. I'm using WeBlog 3.10 on a Sitecore 8.1 rev. 160302 (8.1 Update-2).
The save dialog only appears when the "Standard fields" checkbox (Content Editor -> "View"-Ribbon) is activated. If you answer the overwrite dialog with "Yes", the item is created and loses the Item Buckets standard values. :( At l

[2018-03-19 14:19] hombreDelPez commented on #241
@amir-begic

Hi, I also encountered this behaviour.
After extensive "bug hunting" I discovered that this seems to be a bug in Sitecore 8.1 Update 2. Once you change the bucket path this dialog window pops up. And it doesn't matter if you do it with the Sitecore config or with a bucket rule.

[2018-03-21 15:06] khuynh23 opened #269 "Exception when submitting comment from CD"
I'm not able to add the Comment service reference in the solution because of this error.

There was an error downloading 'http://localhost:57253/sitecore modules/web/WeBlog/Comment.svc/$metadata'.
The request failed with the error message:

How does $metadata get generated?  Am I missing the .asmx file?

-------------------Sitecore log -----------------------

Exception: System.ServiceModel.Protoc

[2018-03-27 19:10] khuynh23 commented on #269
I reconfigured to use EventQueue to get it working.

[2018-05-18 18:17] chipsterva opened #270 "NullReferenceExecption setting up MVC blog in 3.1"
Good day!  I hope you can assist me with an issue I am running into trying to get WeBlog up and running.  WebForms works fine, but I need to incorporate the log into our own MVC site (Sitecore based).  Installation appears to have gone fine, but when I try to create an MVC blog for testing and getting ready to incorporate into our own site, I get the following error -

[NullReferenceException: Obj

[2018-05-22 14:54] chipsterva commented on #270
While I have not solved the cause of the null error, I was at least able to figure out what was triggering the issue, and fortunately, it is a section of code we aren't planning on using.

In MvcLayout.cshtml, we commented out lines 11, 12 and 14, and the page loaded without errors.

`        @*Html.Sitecore().Rendering("{CFBDF43B-D3D4-4F5F-BDE8-BFDA3EDA3778}", new {Cacheable = true, CacheKey = "B

[2018-05-22 14:54] #270 closed

[2018-07-13 15:55] chipsterva opened #271 "best way to add additional fields?"
This is a noob question, my apologies, but I am a noob.  What is the best way to add a new field to the project and incorporate the results in the final product?

I am trying to add a person select list for authors (pulling a list of staff from our NF instance), so that we can create a dynamic authors listing (links to existing pages, photos).  I have been able to successfully add the piece to the

[2018-07-19 00:01] adeneys commented on #271
Hi @chipsterva,

Where possible, try to avoid changing the WeBlog code itself. This will make future upgrades much easier if you've only got extensions and not changes. That also goes for WeBlog Sitecore data such as items and templates.

So to add a new field to a blog entry template, create a new template which includes the appropriate WeBlog template (`WeBlog/MVC/Blogentry` or `WeBlog/WebForms/

[2018-07-23 19:16] ufpian commented on #248
I apologize that this has taken me so long to get back to.  I believe this was a setup issue on our end, and has since been resolved.  Thanks for your time.

[2018-07-23 19:16] #248 closed

[2018-07-24 23:15] adeneys commented on #248
Thanks for letting me know @ufpian

[2018-07-25 18:39] chipsterva commented on #271
@adeneys Thanks for the advice.  I had already updated the weblog.config and weblog.contentseearch.config files based on your earlier input, but thanks for the reminder.  I followed your instructions on creating the custom view and class, but I am having dumb-attack - how do I populate the constructor?

My class is:
`using System.Collections.Generic;
using Glass.Mapper.Sc.Configuration.Attributes;

[2018-07-25 23:22] adeneys commented on #271
@chipsterva In the constructor, just access the item's fields:

    public class BlogAuthors : PostListEntry
    {
        public IEnumerable<Item> Authors { get; set; }

        public BlogAuthors(Item blogItem) : base(blogItem)
        {
            // assuming the authors field is a multiselect field named "authors"
            var authorsField = (MultilistField)blogItem.Fields["authors"];

[2018-07-26 13:15] andyram2k opened #272 "Addition of new link to examples?"
Hi,

We've now launched the weblog platform on the Leeds Beckett University website, and wondered if you wanted to add the link to your examples section?

We've taken the basics, and added on top of this, and used Disqus for commenting:

http://www.leedsbeckett.ac.uk/blogs/

Thanks for all your work on producing this, it's been really useful.

Many thanks,

Andy

[2018-07-26 15:57] chipsterva commented on #271
@adeneys Thanks for the code.  Unfortunately, for our project, the authors field is from a treelist field named Authors that contains GUIDS for person records in SC.  Multiple pieces of info are passed through via Person class - fname, lname, title, etc.; there will be multiple authors in many cases.

[code]

In the PostBlogListEntry.cshtml file, I am hoping to replace `@Translator.Format("ENTRY_D

[2018-07-26 23:10] adeneys commented on #271
@chipsterva The treelist field is compatible with the `Sitecore.Data.Fields.MultilistField` class that I used above, to access the field content. So you can use that one. The bit you need to bridge is turning the normal Sitecore `Item` into your `Person` POCO instance. From the look of your code, it would appear you're using some kind of ORM to help map between `Item` and a POCO. Which ORM are you

[2018-07-26 23:15] chipsterva commented on #271
@adeneys Thank you sir!  Digging into this now...

[2018-07-26 23:22] chipsterva commented on #271
Sorry - had to do some digging - ORM is GlassMapper (we are using Glass.Mapper.3.0.11.23).  Reading up on Sitecore POCO.

I can't tell you how much I appreciate you helping me through this...

[2018-07-27 20:15] chipsterva commented on #271
I worked on this for several hours, trying out various permutations of code I found online researching GlassMapper.  Unfortunately, I couldn't find anything directly relating to this particular instance, numerating through item, and my hacking around did not accomplish anything other than learning several ways how not to do it.  I also researched parallel situations on our own site, using the same

[2018-07-28 11:17] adeneys commented on #271
I've not used Glass Mapper, but I'm aware of it.

This blog post might be helpful: https://blogs.perficient.com/sitecore/2016/07/27/glass-mapper-mapping-sitecore-list-fields/ . Looks like it covers what you need, mapping a Multilist field to an IEnumerable of a model, mapped from an item.

Keep in mind, `PostListEntry` is a WeBlog model class which we instantiate ourselves inside the `PostList` vi

[2018-07-29 22:32] chipsterva commented on #271
Thanks again, @adeneys, for all of the advice and information.  I put in your code, and it almost gets there.  I had to convert the glassContext.GetItem<Person>(authorItemId) to glassContext.GetItem<Person>(authorItemId.ToGuid()); to resolve a cannot convert System.ID to string error.  My last hurdle is authorsInfo.Add(authorPoco); - there is no Add or Insert definition for IEnumerable.  I have tr

[2018-07-29 23:16] adeneys commented on #271
Sorry, I should have picked that up. Don't treat `authorsInfo` as `IEnumerable<Person>`. Just use it as a list:

    var authorsInfo = new List<Person>();

`List<T>` implements `IEnumerable<T>`, so you can just assign the list to the property once you're done:

    Authors = authorsInfo;

The missing references are Sitecore assemblies which we use from a locally deployed Sitecore instance. Pay att

[2018-07-30 21:49] chipsterva commented on #271
Hi @adeneys !  I tweaked the code per your recommendation (I think I tried this earlier, but I tried so many different things, I can't say for sure if I did or didn't///).  The code currently looks like this:

[code]
It compiles successfully, but when it is run, I get the following error:

[code]

Does that ring any bells for you?

Regarding setting up the source code:  I followed the instructions

[2018-07-31 14:29] chipsterva commented on #271
@adeneys I take the part about creating CustomTreeList.cs - it shouldn't be needed, should it?  Treelist and Multilist are identical in back end handling, so CustomMultiListField.cs should handle the Authors field just fine.  I have to look closer to see why I am not seeing the properties I expect.

[2018-07-31 16:37] chipsterva commented on #271
I am not sure how close I am to solving this through the source code either.  Wow, this is frustrating!

As I mentioned above, I added the new field to EntryItem.cs.  I have left the CustomMultiFieldListField.cs field alone - as near as I can tell through researching, this should be able to handle this function, since it is returning an IEnumerable ListItems.

In PostListEntry.cshtml, I have tried

[2018-08-01 17:49] chipsterva commented on #271
Progress, I think - but as with all code, fixing one thing reveals the next challenge.

I made your recommended updates; I ended up having to change public BlogAuthors(EntryItem entryItem) to private.  According to the local editor, all the code plays together.  The BlogAuthors.cs file looks like this:

[code]

PostListEntry.cshtml refers to the model: @model Sitecore.Modules.WeBlog.Mvc.Model.Blog

[2018-08-02 00:28] adeneys commented on #271
I'm not sure if it's related to your other changes or not.

Stick a breakpoint in the `LinkIncludeController` class `Index` method to see what's going on. Looking at the stack trace and the `Index` method, I'd say the `Link` property must be null, but I can't see how it would be null as all uses of the constructor will set this property to some other object if null is passed in.

[2018-08-02 22:29] chipsterva commented on #271
@adeneys A quick update for today - I figured out why the error message was so out of the blue.  Not sure how I did it, but my testing links started pointing to the default MVC site files, which I had not altered, instead making a copy of them as the genesis for our own site files.  I was pulled away by other things today, and only managed to confirm that with the code updates we made, I am still

[2018-08-02 23:43] adeneys commented on #271
The private constructor means there's no public constructor and the type can't be instantiated by code outside the class. So I would say that is definitely an issue. Make the constructor public and see how that goes.

[2018-08-05 17:50] chipsterva commented on #271
@adeneys I decided to take the time this weekend to step back in the project and ensure that I didn't have any old code messing things up for me on this current error. Turns out, I did (of course).  So, I went back to the original default code and built it up again, and the result is the same error.

Currently, the new class looks like this:
BlogAuthors.cs
[code]

I keep coming back, in my own hea

[2018-08-06 00:07] adeneys commented on #271
The code assumes the `Authors` field is available on the current item being rendered, but you don't need to tweak the WeBlog base templates. I mentioned above that you should create a new template using `/sitecore/templates/Modules/WeBlog/MVC/BlogEntry` as a base template, and you add your `Authors` field to your new template.

In testing the code above, you'll need to test it against items which

[2018-08-06 23:27] chipsterva commented on #271
Wait one blessed minute...  I think the code is working!!  I wish I knew why it was working now as opposed to yesterday, but it is working!!!  Time to freeze the site!

I can't begin to thank you enough, sir - I look forward to meeting you at the first annual WeBlog Coders Conference, to be held Down Under!

[2018-08-07 04:51] adeneys commented on #271
That's great news! I imagine the issue was probably deployment; perhaps your custom DLL didn't get copied over to your site and that's why the changes couldn't be seen.

In any case, it's great to hear that it's working. Once you're live, if you want to be listed on the "sites using WeBlog" page, just create a new ticket with the detail and I'll add you.

Are you good to close this ticket now?

[2018-08-08 17:37] chipsterva opened #273 "Archive setup - EntryList issue"
Good day, @adeneys  - here is my followup question.  We would like to change the default archive functionality a bit; instead of listing the entries in the sidecar archive component, we would like instead to show the months (number) as a link to a landing page that then shows the entries for that year/month.  I have accomplished most of what we want to do by using querystrings and updating the URL

[2018-08-09 23:52] adeneys commented on #273
Hi @chipsterva ,
To make this scenario work you need the `PostList` model class to provide all the entries you need. Ideally, you'd move that filtering logic out of your view and into the model, so the entries which are available via the `Entries` property can be rendered in full, in the same fashion as a normal listing page.

The `Entries` property is populated inside the `PostList` class by usin

[2018-08-16 13:54] chipsterva commented on #273
Thanks for all of the info and code, @adeneys.  I was finally able to devote some time to this yesterday and today.  I have most of the code worked out, but I have an error that comes up in the VS editor that I can't figure out.

My code looks like this:

[code]

[code]

PostListArchive.cshtml
[code]
I see the following message in VS for the code
`public class CustomPostListCore : PostListCore, IC

[2018-08-19 11:01] adeneys commented on #273
The first error is saying that `PostListCore`, which you inherit from in `CustomPostListCore`, doesn't have a constructor with no parameters, so you need to add a constructor to `CustomPostListCore` and call the constructor of the base class.

    public class CustomPostListCore
    {
        public CustomPostListCore(BlogHomeItem currentBlog)
            : base(currentBlog, null, null)
    }

You

[2018-08-20 18:37] chipsterva commented on #273
That did the trick, @adeneys!  I need to clean out the work I did previously on archiving and replace it with the archive page, but it appears to be pulling the expected number of entry items and rolling over content as expected.  Thanks again for everything!

I will let you know when we have the blog published and publicly available.  It can be added to the list of user sites at that point.  Than

[2018-08-21 13:18] chipsterva commented on #273
Thanks again for everything, @adeneys!

[2018-08-21 13:18] #273 closed

[2018-09-25 10:34] efezter commented on #172
Hi all

I get 'Could not find add method: IncludeTemplate (type: Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration)' error after replacing WeBlog.ContentSearch.config with the file provided by @PavanOS. Any recommendation?

[2018-09-28 12:15] hombreDelPez commented on #233
Hi @adeneys
Any news about the upgrade guide? Because right now we are upgrading our 8.1.2 Sitecore solution to Sitecore 9.0.2 and also need to make the WeBlog module work again. We still have some issues regarding the javascript used for the WeBlog experience editor buttons in the ribbon.

[2018-10-27 10:56] alan-null commented on #266
Closed due to lack of activity.

[2018-10-27 10:56] #266 closed

[2018-10-27 10:57] #264 closed

[2018-10-27 11:02] alan-null commented on #87
The linked project is no longer developed.
![image](https://user-images.githubusercontent.com/6848691/47603167-8dd53380-d9e8-11e8-8f55-0c149134ac44.png)

[2018-10-27 11:02] #87 closed

[2018-12-27 11:52] adeneys opened #276 "Performance issues with large number of posts"
If a blog has a large number of posts, the blog listing and post pages response times increase.

[2019-02-14 17:22] cfotache commented on #269
How do you replace WCF with EventQueue to post comments from CD?

[2019-02-14 22:35] pvaartstra opened #278 "Sitecore 9 compatible version"
Need a version that will run on Sitecore 9.0

[2019-02-17 23:52] adeneys commented on #278
We have Sitecore 9.0 support on the `develop` branch already (https://github.com/WeTeam/WeBlog/tree/develop). We're in the midst of development for the next release at the moment which will include that, as well as support for Sitecore 9.1.

[2019-02-17 23:54] adeneys commented on #269
It's not an out-of-the-box feature, but one we'd like to include. We'd gladly accept a Pull Request @khuynh23 :)

[2019-04-01 12:36] olegbabkevich commented on #278
Hello,
Could you say if there are timelines when it possibly be released?

[2019-04-02 14:46] efezter opened #279 "t"

[2019-04-02 14:46] #279 closed

[2019-04-08 01:39] adeneys commented on #278
Sorry @olegbabkevich, no ETA. It's being actively worked on at the moment. As mentioned above, 9.0 support is already available on the develop branch, and 9.1 support has been added as well.

[2019-05-07 16:30] basselissa commented on #278
Hello, is there any 9.0 and 9.1 package to download, as packaging is not clearly documented.

[2019-05-07 17:20] basselissa opened #282 "create a package for SC9+"
Hello,
Is there any hints or draft documentation on creating the package? i am trying to create a package for SC9.0

[2019-05-19 18:36] SomnathD commented on #258
Hi There,

I have the same problem after migrating my project to Sitecore 9 and Solr 6.6.3.
Is there an update if this is still a work in progress or if there is a specific version of the module available that can help?

Thanks in advance.

Regards
Somnath

[2019-07-19 13:00] djanjicek commented on #278
Yes indeed, it would be great if you could provide upgrade packages or better instructions.

[2019-10-18 09:28] andyram2k commented on #172
Hi,
We're upgrading to 9.2 currently, and with that we've updated the files to work with 9.2, and SOLR from Lucene. I've attached our config files which work with SOLR in case it helps anyone / the project team.

Andy

[weblog.zip](https://github.com/WeTeam/WeBlog/files/3743206/weblog.zip)

[2019-10-18 09:36] alan-null commented on #172
Thank you, Andy (@andyram2k )

[2019-11-06 08:53] andyram2k opened #285 "Index_Update_IndexName=WeBlog-master"
Hi,

I've noticed recently in our monitoring tools, that the Index_Update_IndexName=WeBlog-master is running quite a few times, in a single minute and is causing quite a queue in additional tasks.

e.g.

08:29:09 | Index_Update_IndexName=WeBlog-master | 59b625d0-f59e-4060-a486-13c15b4444e9;WSP-CMS-02-SiteCore CMS | Queued |   | sitecore\admin |   |   |   |   |   |   |   |   |   |  
  | 08:29:09 |

[2019-12-06 14:32] djanjicek commented on #172
I have updated our 9.2 code base to all these changes (incl. commit #172), and now after rebuilding the indexes loading my page I get the following exception:

`[FormatException: Could not map index document field to property "Category" on type Sitecore.Modules.WeBlog.Search.SearchTypes.EntryResultItem : Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx). Actual val

[2019-12-06 14:42] djanjicek commented on #172
![image](https://user-images.githubusercontent.com/3630988/70330926-c75cad00-183e-11ea-856c-648b30a2003a.png)

What's the difference between stringArray and stringCollection? Both are collections, but more interestingly, the Category property in EntryResultItem is ID[] and not string[] (like Tags).

[2019-12-08 11:59] adeneys commented on #285
Hi @andyram2k,
Sorry about the later reply.
From above, it would appear all those updates are on the master DB, so could it be possible you have some code running which is touching all those blog items causing them to be re-indexed?

[2019-12-08 12:04] adeneys commented on #172
Hi @djanjicek,
This is what I'm working on now. Trying to get the category field to index and deserialize properly.
I'm not sure which commit you took as your link is to this issue, but I imagine it was one from the feature/172-solr-support branch. We use gitflow, so any feature branch is a work-in-progress.

[2019-12-08 12:06] djanjicek commented on #172
Yes exactly, it’s the branch you mention. I’ll follow the progress on it,
as our client uses categories heavily and we need this one.

On Sun, 8 Dec 2019 at 13:04, Alistair Deneys <notifications@github.com>
wrote:

[2019-12-13 07:18] rroman81 commented on #282
would benefit from updated documentation as well.

[2019-12-13 13:04] djanjicek commented on #172
@adeneys Any progress so far?

[2019-12-15 22:17] adeneys commented on #172
@djanjicek I've made a bit of progress and fixed the category issues, but I'm still validating.

[2019-12-17 11:09] djanjicek commented on #172
@adeneys Thank you very much! This seems to work.

[2019-12-28 12:59] adeneys commented on #269
Closing this issue as it appears it was resolved from previous comments

[2019-12-28 12:59] #269 closed

[2019-12-28 13:01] adeneys commented on #235
Closing this issue as SOLR support is officially being added in issue #172 .

[2019-12-28 13:01] #235 closed

[2019-12-28 13:03] adeneys commented on #255
Closing this issue due to inactivity. Reopen if you have new information.

[2019-12-28 13:03] #255 closed

[2019-12-28 13:06] #263 closed

[2019-12-28 13:13] adeneys commented on #245
Closing as the above comments indicate the issue was resolved.

[2019-12-28 13:13] #245 closed

[2019-12-30 03:41] adeneys commented on #258
Closing this issue as Solr support is currently being worked on in issue #172

[2019-12-30 03:41] #258 closed

[2020-02-06 14:20] solkararif commented on #278
hello,
support for 9.2 has been added as to this release? Where can I get a clear instruction to package and deploy the commit to test locally.

[2020-02-06 22:15] adeneys commented on #278
Hi @solkararif,
The release has not been made yet. I'm still working through testing and validation. If you want to try it yourself locally before the release is complete, checkout the `feature/9.2-9.3-support` branch and follow the instructions in the `how to build.md` file in the root of the repo.

[2020-02-10 13:29] solkararif commented on #278
Hi @adeneys .
I have followed the instruction in the how to build.md file, sitecore items are not getting created while trying to restore the sitecore items using serialization. I am doing the integration on sitecore 9.2.
There are no errors reported in the log.

[2020-02-10 16:34] solkararif opened #288 "Error during serialization for sitecore 9.2"
Hi @adeneys ,

i am facing the below error while trying to serialize the sitecore items on the core database.

\App_Data\serialization\core\sitecore\client\Applications\WeBlog\Import.item ---> System.Exception: Error reading item: /sitecore/client/Applications/WeBlog/Import ---> System.Exception: Length of field content does not match the content-length attribute. Field name: __Renderings, field i

[2020-02-10 22:12] adeneys commented on #288
Hi @solkararif,
This normally occurs when the line endings are incorrect. Check the file and see if it's using Windows line endings (\r\n) or Unix line endings (\n). If you're using notepad++ this can easily be seen in the bottom bar on the right hand side. Ensure the line endings are Windows (\r\n) before running deserialization.

[2020-02-11 22:39] adeneys commented on #282
The `how to build.md` file has been updated with instructions on building the package. Version 4.0 has also just been released: https://github.com/WeTeam/WeBlog/releases/tag/release%2F4.0

[2020-02-11 22:39] #282 closed

[2020-02-11 22:40] adeneys commented on #278
Version 4.0 has just been released, which adds support for all Sitecore 9.x versions. https://github.com/WeTeam/WeBlog/releases/tag/release%2F4.0

[2020-02-11 22:40] #278 closed

[2020-02-11 22:40] #276 closed

[2020-02-11 22:41] adeneys commented on #172
Release 4.0 adds support for Solr when using Sitecore 9.x.

[2020-02-11 22:41] #172 closed

[2020-02-13 06:31] basselissa commented on #278
Cool, thanks for the great work

On Wed, Feb 12, 2020, 2:40 AM Alistair Deneys <notifications@github.com>
wrote:

[2020-02-13 12:12] solkararif opened #290 "Error while submitting comments in sitecore 9.2"
hi @adeneys ,

Facing issue while submitting the comments on the logs that has been created.I have added the endpoint address in the web.config as per the configuration mention in the WeBlog.delivery.config.

Error:

Object reference not set to an instance of an object.
Description: An unhandled exception occurred.

Exception Details: System.ServiceModel.FaultException`1[[System.ServiceModel.Excep

[2020-02-13 15:39] solkararif commented on #290
Hi @adeneys,

The issue occur while adding comment to any blog.
The issue seems to be the Context object is null while creating the cache object and getting the item.

The file is ProfanifityFilterCache.cs

`Line 13:   get { return "wordlist_" + Context.Database.Name; }`

[2020-02-13 23:45] adeneys commented on #290
Hi @solkararif,
Thanks for the info, and tracking down the source of the issue.
It looks like a few of the profanity filter processors are having issues when invoked through the service. I'll need to create a fix and release an update to address the issue.

In the meantime, if you're happy to run without the profanity filter, just comment the `Sitecore.Modules.WeBlog.Pipelines.CreateComment.Profan

[2020-02-17 11:16] solkararif commented on #290
Hi @adeneys,

Thank you it has been fixed

[2020-02-17 11:16] #290 closed

[2020-02-18 11:08] solkararif commented on #288
hi @adeneys

Thank you for your prompt responses and quicker fixes, I was able to explore the weblog module with sitecore 9.2. We are planning to extend this module, are there any plans to create a nuget package that could be extended for different sitecore 9X version.

[2020-02-18 11:09] #288 closed

[2020-02-18 21:40] adeneys commented on #290
Thanks for confirming @solkararif,
FYI this fix will be included in the 4.0.1 release which I'm working on putting out at the moment.

[2020-02-18 21:45] adeneys commented on #288
Hi @solkararif,
We release WeBlog as Sitecore packages, which you can find on the [releases page](https://github.com/WeTeam/WeBlog/releases).
We haven't really considered using NuGet as a release mechanism as WeBlog requires config files and items as well which must be deployed to Sitecore, and Sitecore doesn't have a mechanism to install packages from NuGet.

[2020-02-19 11:36] adeneys commented on #285
Is this issue still active?

[2020-02-19 11:42] adeneys commented on #231
Not sure if this issue is still active, but we just fixed an issue related to the profanity filter when invoked through the WCF service. The fix is available in release 4.0.1.

[2020-02-19 11:42] #43 closed

[2020-02-19 18:48] andyram2k commented on #285
Hi, it is on our current 8.1 instance, but we're moving to a 9.2 instance in the coming weeks, so i hope it will be resolved then. If not, i'll re-open the ticket. Please feel free to close.

[2020-04-10 14:33] shaliksh commented on #285
Andyram2k,
Did you install on 9.2? We are on 9.1, not sure it works?

[2020-04-10 15:09] andyram2k commented on #285
We’ve not just yet. The dev team on here have update files since then, so that should work on 9.1?

Sent from my Windows 10 device

From: shaliksh<mailto:notifications@github.com>
Sent: 10 April 2020 15:33
To: WeTeam/WeBlog<mailto:WeBlog@noreply.github.com>
Cc: andyram2k<mailto:andyram2k@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [WeTeam/WeBlog] Index_Update_IndexName=We

[2020-05-24 01:04] adeneys commented on #285
As advised above, closing this issue.

[2020-05-24 01:04] #285 closed

[2020-05-24 01:06] #241 closed

[2020-05-24 01:07] adeneys commented on #241
Closing this issue as the above comments indicate it's related to Sitecore 8.x which is no longer supported.

[2020-05-24 01:11] adeneys commented on #92
I started on this but decided against it. The items in WeBlog are fairly stable, changing much less often than on a site build. Changing to a different serialization format will introduce quite a bit of complexity which will need to be maintained, but we won't get much value out of it at this stage of the project.

[2020-05-24 01:11] #92 closed

[2020-05-24 01:14] #3 closed

[2020-05-31 11:35] adeneys commented on #103
I think the use of Markdown is likely something authors would want across all their content, and not just limited to blog entries. Therefore I think this is probably best handled across the site and not made specific to WeBlog.

[2020-05-31 11:35] #103 closed

[2020-07-21 07:01] Nikita-cap opened #297 "blogs stop appearing"
Hello,
We have observed several times that the blogs stop appearing on the page and we have to rebuild the index in order to fix this.
We are using sitecore version 9.1.1 with SXA version 1.8.
Do we have to rebuild indexes on every build to the environment?

[2020-07-21 11:13] adeneys commented on #297
Hi @Nikita-cap,
WeBlog simply uses the Content Search APIs from Sitecore. It has no requirements itself for requiring indexes to be rebuilt manually, although search providers themselves might have requirements about when the indexes must be built. You asked about rebuilding the index "on every build to the environment". It may depend on what you're doing in your build. Generally the search provid

[2020-07-21 11:16] adeneys commented on #231
Closing this issue due to inactivity. Please reopen it if the issue is still present in the last release.

[2020-07-21 11:16] #231 closed

[2020-07-29 17:14] Nikita-cap commented on #297
Hi Adeneys,

Thank you for your response.
No, we do not have to rebuild on every build. I hope it was just a one time issue :) we are using Solr which is the Sitecore's default search provided.
Additionally, I wanted to confirm if weblog should also be compatible with sitecore 9.1 with SXA 1.8.

[2020-07-29 23:27] adeneys opened #298 "Remove dependencies from custom item classes"
The custom item pattern requires custom item implementations to be implicitly convertible with `Sitecore.Data.Items.Item`. Requiring dependencies in the custom item breaks this pattern and is an indicator that the custom item has too many responsibilities. The responsibilities which require the dependencies should be encapsulated into separate classes.

We currently suffer from this problem in the

[2020-07-29 23:33] #298 closed

[2020-07-29 23:36] adeneys commented on #297
Thanks for letting me know @Nikita-cap .
WeBlog has been built against and tested with Sitecore 9.1.
I've not tested WeBlog with SXA, though I don't expect any issues. WeBlog has been designed to be used inside other sites.

If you find any issues in using WeBlog with SXA please let us know.

[2020-07-29 23:36] #297 closed

[2020-08-03 19:10] alan-null commented on #297
@Nikita-cap if you are using SXA you might want to check [this](https://alan-null.github.io/2017/12/sxa-blog).
SXA presence shouldn't influence WeBlog.

[2020-08-05 11:28] adeneys opened #300 "Deprecate CAPTCHA in favour of Sitecore Robot Detection"
CAPTCHA is an inconvenience.

We could use the built in Sitecore Robot detection features and remove CAPTCHA from the comment submit components.

[2020-08-05 23:27] #300 closed

[2020-10-01 16:30] superferenabled opened #305 "Post listing doesn't filter properly when the post has more than one tag"
Hi, I'm using the previous version of weblog (4.0.1) and the PageList doesn't seem working correctly when it needs to filter by tag. if there is a post with several tags (eg. tag1 and tag2) it only shows up in the list when I send: **?tag=tag1,tag2**

If I try sending **?tag=tag1** or **?tag=tag2** the post never shows up. I also tried to upgrade to the latest version but the issue remains.

I won

[2020-10-01 22:17] superferenabled commented on #305
Seems like i missed to reindex and republish my items in order to get the part of the tags fixed. It's working as expected now. I'm closing this issue.

[2020-10-01 22:17] #305 closed

[2020-10-25 04:10] adeneys commented on #233
Sorry it took so long, but I've just updated the Installation Guide wiki Page https://github.com/WeTeam/WeBlog/wiki/Installation-Guide.

Please let me know if something is missing.

[2020-10-25 04:10] #233 closed

[2020-10-25 04:11] adeneys commented on #267
FYI, I just updated the blog creation wiki page: https://github.com/WeTeam/WeBlog/wiki/Create-and-setup-blog

[2020-10-25 04:11] #267 closed

[2020-10-25 04:15] adeneys commented on #100
Although this is a nice suggestion, I think it would confuse content authors if we implemented it. Sitecore ties the entry name to the URL, the same as it does for all items in the content tree. And this is what Sitecore users will expect. If we added something specific to WeBlog it would then make WeBlog items behave differently to all others.

At this stage I don't think we should pursue this fe

[2020-10-25 04:15] #100 closed

[2020-10-27 18:13] avrohit2000 opened #306 "Polish language support"
While import and publish need a support for polish. At the moment whilst using 4.1 for sitecore 9.0 words get converted to english when xml contains polish letter.

[2020-10-28 23:46] adeneys commented on #306
@avrohit2000 Could you please provide a full reproduction scenario? You mentioned import, so I assume you're talking about the WordPress import functionality. I just validated that Polish characters in the WordPress XML export file are imported and preserved.
![polish-char-import](https://user-images.githubusercontent.com/1198054/97508543-fab6a600-19d3-11eb-92be-7278b77637dd.png)

[2020-12-14 16:47] Nikita-cap opened #307 "Multiple Entries on CM instance"
Hello Weblog team,

Our website is live now and our content authors have started creating multiple versions of the item while modifying the content.
We observed that on our CM instance on the listing page the number of times a blog is displayed depends upon the number of versions its entry item has (in same language)

Say an item has 2 versions in English language then the blog would be displayed

[2020-12-14 23:34] adeneys commented on #307
Hi @Nikita-cap,

This is not expected behavior. It looks like we have a bug here.

When you say it's only happening on CM, do you mean only when using content from the master database, such as preview mode? Does it happen if using the web database on CM, like when browsing the site hosted from CM without being logged in?

Also, which specific version of WeBlog are you using?

[2020-12-16 08:00] Nikita-cap commented on #307
Hi Weblog Team,
we are on Sitecore 9.1 .
The issue is not in EE/Preview mode, it is when we are browsing the CM website URL/Site
Has it got anything to do with weblog.delivery.config? do we place it in our CM instance or the CD instances

[2020-12-16 23:14] adeneys commented on #307
Hi @Nikita-cap,
Which version of WeBlog are you using? 4.0, 4.0.1 or 4.1 (these are currently the only WeBlog versions which support Sitecore 9+).

It's odd that this is happening for web DB content. The web DB normally only holds the latest version of any item, unless you're using Content Testing. Are you running any Content Tests on the items which appear multiple times?

The `WeBlog.delivery.co

[2021-02-26 17:29] AmitaRaiDev opened #308 "Getting Critical Error on Experience Editor (Sitecore 9.2)"
![ExpEditorIssue](https://user-images.githubusercontent.com/35682645/109334035-311f0780-7886-11eb-92eb-55895070cbea.png)

[2021-03-08 04:07] adeneys commented on #308
What version of WeBlog are you using?
Any errors in the logs?
Can you provide a list of steps to reproduce the error?

[2021-03-10 15:25] AmitaRaiDev commented on #308
Error is coming in js files which are present at weblog/experienceEditor/Commands.

Do we have any option for removing WeBlog from Experience editor?

[2021-03-15 07:04] adeneys commented on #308
You should be able to remove WeBlog from the Experience Editor by following these steps:

1. Delete the `/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/WeBlog` item from the `core` database.
2. Disable the `/App_Config/Include/WeBlog.ExperienceEditor.config` config patch file by changing the file extension to `disabled`.

[2021-03-16 08:11] amitaRai commented on #308
Thank you for your quick response.

[2021-03-19 07:31] idmedia-anders opened #310 "Error 405 when submit comment"
Hello all

We are using the module for our project.
We are using **Sitecore 9.1** and have installed the module as a package.
We are using a **CM** and **CD** environment.
The web.config for CD and the web.config for CM were both added with the config from the weblog.config.

For our CM web.config we used this config:
WCF Server (Sitecore authoring server)
[code]

and for the CD web.config
WCF Cli

[2021-03-21 10:36] adeneys commented on #310
It's likely you're missing Windows Features which allow activating WCF services over HTTP.

![image](https://user-images.githubusercontent.com/1198054/111901550-02fba480-8a8d-11eb-9102-840c66a57282.png)

Try enabling the `HTTP Activation` features inside the `.NET Framework` categories as shown in the screenshot above.

[2021-05-27 09:22] amarbaktha opened #314 "Support for Sitecore 10.1"
Please let us know the availability of WeBlog module for Siteore 10.1.

[2021-05-28 04:57] adeneys commented on #314
I'm working on this right now. I'm hoping to get a release out in the next week or 2.

[2021-05-28 05:52] amarbaktha commented on #314
Thank you, keep us apprised!

[2021-06-01 02:22] adeneys commented on #314
Release 4.2 has just been created which adds support for Sitecore 10.1: https://github.com/WeTeam/WeBlog/releases/tag/release%2F4.2

[2021-06-01 02:22] #314 closed

[2021-06-01 02:23] adeneys commented on #90
Finally got around to this one...included in release 4.2: https://github.com/WeTeam/WeBlog/releases/tag/release%2F4.2

[2021-06-01 02:23] #90 closed

[2021-06-01 02:23] #310 closed

[2021-06-01 02:23] #308 closed

[2021-06-01 02:25] #306 closed

[2021-06-01 05:31] amarbaktha commented on #314
Thank you @adeneys!

[2021-10-03 12:14] kirkmor opened #315 "Index tags are not separate terms"
Hi,

It seems like when you tag a blog entry with multiple tags, all the tags are handled as one tag instead of multiple tags?
:)
br

[2021-10-04 06:55] kirkmor opened #316 "Site resolving to "Website" in Experience Editor"
Hi,

Working in a multisite environment and want to add a new Post Entry using the chunk "Weblog" and "New Entry" the new blog entry will be created correctly, it seems like the "sc_site" query is removed and the site will be resolved as "website" and not the specific site.

br

[2021-10-05 00:10] adeneys commented on #315
The tags in the tag field are comma separated, not space separated. How are you currently adding the tags?

We have a custom field to help enter the tags which includes searching for existing tags:
![image](https://user-images.githubusercontent.com/1198054/135940656-68d07c4c-b471-4c9e-a422-201a70fc6afb.png)

This should be available in both the Content Editor and the Experience Editor.

Viewing wi

[2021-10-11 22:56] adeneys commented on #316
Hi @kirkmor,

The `sc_site` query string parameter is sticky. You don't need to have it present in the URL on every request. It only needs to be provided when switching between sites. How are you launching Experience Editor? If I'm using the Content Editor, and navigate to an item in the 2nd site (called "mysite") then on the ribbon select the "Publish" tab and then click "Experience Editor" my 2n

[2022-05-17 12:36] amanaltudo opened #318 "Error in Comments creation"
We have implemented weblog v4.2,Website is upgraded from sitecore 7.x to 10.2.
Comments are not getting through in our blog post.

Comments are not created under the blog item in master DB
Below file contains sitecore log for the error
[Weblog comment error.txt](https://github.com/WeTeam/WeBlog/files/8708010/Weblog.comment.error.txt)

[2022-08-23 16:29] everdoorn opened #321 "10.2"
Are there any plans to update the 4.2 release to support 10.2 or is there a new release expected which would support 10.2? It appears others have installed the 10.1 supported release on a 10.2 environment and it worked for the most part with an error in the comments functionality that could be worked through if need be.

Thanks!

[2022-08-30 01:33] adeneys commented on #321
There are currently no plans for further development on WeBlog. I would encourage you to fork the repo and continue your own development on the module.

[2022-08-30 01:33] #321 closed